/* CSS Document */
font { font-weight:normal; font-size:12px}
body {
	margin: 0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#FFFFFF;
}

.tableheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:20px;
	color: #000;
	vertical-align:middle;
	text-align:left;
	color: #C92112;
}
.tableHeadBlueLight {
	font-weight: bold;
	font-size: 14px;
	color: #3094bd;
	font-style: normal;
	font-family: Verdana;
	height: 22px;
	}
.tableHead{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	font-style: normal;
	background-color: #7ac5e4;
	border-bottom: 1px solid #5bb1d4;
	height: 25px;
	}
.lineDotted{
	background-image:url(/Orbitweb/images/line_dot.gif);
	background-repeat:repeat-x;
	vertical-align:middle;
	height: 20px;
	}
.tableTitles {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #515151;
	font-style: normal;
	}
.Link2:hover{
color:#7AC1DF;
text-decoration:none;
}
.tableBorder
{
	border: 1px solid #5bb1d4;
	background-color: #fbfeff;
	 }
.textBlue{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #2f93bd;
	font-style: normal;
	}
.borderLeft{background-color: #5bb1d4;}
.textGray{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #747474;
	font-style: normal;
	padding: 0px 3px 0px 3px;
	}
	.textLink{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #2f93bd;
	font-style: normal;
	padding: 0px 3px 0px 3px;
	}
.textGray:active, .textGray:link, .textGray:visited{
	font-family: Verdana;
	font-size: 11px;
	color:#747474;
	font-weight:bold;
	text-decoration:none;
	}
.textGray:hover{
	color:#898989;
	text-decoration:none;
	}
.copyright{
	font-family: Verdana;
	font-size: 9px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	}
.logout{
	font-family: Verdana;
	font-size: 10px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	}
.logout:active, .logout:link, .logout:visited{
	font-family: Verdana;
	font-size: 10px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	}
.logout:hover{
	color:#515151;
	text-decoration:none;
	}
.ptb3{padding-top: 10px; padding-bottom:10px;}
.borderBot{ border-bottom: 1px solid #FFFFFF;}
.errorMsg{
	/*font-family: Verdana;
	font-size: 11px;
	color:#ec0000;
	font-weight:bold;
	text-decoration:none;
	height: 25px;*/
	/*FONT-SIZE: 12px;
	font-weight:bold;
	COLOR:Red; FONT-STYLE:
	normal; FONT-FAMILY:
	Verdana;
	TEXT-DECORATION: none*/
	font-size: 12px;
	font-weight:bold;
	color:red;
	font-style: normal;
	font-family:verdana;
	text-decoration:none
	}
	.successMsg{
	font-family: Verdana;
	font-size: 11px;
	color:Green;
	font-weight:bold;
	text-decoration:none;
	height: 25px;
	}
/*.btn1{
	background-color: #DFDFDF;
	height: 24px;
	border: 1px solid #3d6f00;
	font-family: Verdana;
	font-size: 11px;
	color:black;
	font-weight:bold;
	padding-bottom:3px;
	}*/
.textNote{
	font-family: Verdana;
	font-size: 10px;
	color:#383838;
	font-weight:normal;
	text-decoration:none;
	}
.h5{ height:5px;}
.h10{ height:10px;}
.h15{ height:15px;}
.bgGray{
	background-color :#bbbbbb;
	height : 1px;
	background-repeat : repeat-x;
	}

	.h1{
	width:1px;
	background-color:#5bb1d4;
	}

	/* Css for Auto complete extender*/
	/*Begin*/
	.list {
	border: 1px solid #090;
	list-style-type: none;
	margin: 0px;
	background-color: #FFF;
	text-align: left;
	font-family :Verdana;
	font-size :11px;
	color : #333333;
}

	ul.list li {
		padding: 2px 5px;
	}

	.listitem {
		color:#333333;
	}

	.hoverlistitem {
		background-color: #F0FFF8;
	}

.list2 {
	border: 1px solid #3e3e3e;
	list-style-type: none;
	margin: 0px;
	background-color: #FFF;
	text-align: left;
	font-family :Verdana;
	font-size :11px;
	color :#333333;
}

	ul.list2 li {
		padding: 2px 5px;
	}

	.listitem2 {
		color: #333333;
	}

	.hoverlistitem2 {
		background-color:#DCEFF7;
	}

	.Link1:active{
	font-family: Verdana;
	font-size: 10px;
	color: #03738E;
	text-decoration:none;
	font-weight: bold;
}

.textblue:active, .textblue:link, .textblue:visited{
	font-family: Verdana;
	font-size: 11px;
	color:#2f73bd;
	font-weight:bold;
	text-decoration:none;
	}
.textblue:hover{
	color:#2f93bd;
	text-decoration:none;
	}

	.content{
	font-family: Verdana;
	font-size: 11px;
	color:#383838;
	font-weight:normal;
	text-decoration:none;
	}

	.orbitmenu { background-color: #40A3CC;  float:left; font-family: verdana;  font-style: normal; font-weight: bolder; color: #FFFFFF; height: 24px; padding-left: 3px; padding-right: 3px; text-align: left; }
    .orbitmenu td { padding:0 4px; }
    .ctl00_Menu1_5 { min-width:100px;  }
    .ctl00_Menu1_13 { min-width:100px; }
    .ctl00_Menu1_12 { min-width:100px;  }
    .ctl00_Menu1_8  { min-width:100px;  }
    .ctl00_Menu1_9  { min-width:100px;  }
    #Menu1 a.static { padding:0 1em }

	/*End*/

	.grid th, .grid td
	{
	    border:solid 1px #fff;
	}

	.grid td tr td
	{
	    border:solid 1px #7AC5E4;
	}