body {
margin: 0px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color:#FFFFFF;
}

.bgWhite{
	background-color:#FFFFFF;
}
.bgHeaderRight{
	background-color:#E3E7EB;
	}
.bgNav1{
	background-color: #40A3CC;
	font-family: tahoma;
	font-size:10px;
	font-style:normal;
	font-weight: bolder;
	color: #FFFFFF;
	height: 24px;
	padding-left: 3px;
	padding-right: 3px;
	text-align:center;
	}
.bgNav2{
	background-color: #E6FCC5;
	font-family:tahoma;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
	color: #666666;
	height: 24px;
	padding-left: 3px;
	padding-right: 3px;
}

.bgDynamicNav1
{
	background-color: #40A3CC;
	font-family: tahoma;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
	height: 24px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
}
.Link2:active, .Link2:link, .Link2:visited{
font-family: tahoma;
font-size: 10px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
.Link2:hover{
color:#1C5B76;
text-decoration:none;
}
.Link3:active, .Link3:link, .Link3:visited{
font-family: tahoma;
font-size: 10px;
color:#2F93BD;
font-weight:bold;
text-decoration:none;
}
.Link3:hover{
color:#7AC1DF;
text-decoration:none;
}
.textGrey{
	color: #999999;
	text-align:center;
	padding-left: 3px;
	padding-right: 3px;
	}
.lineBlue{
	background-color: #237EA4;
	}
.lineBlue2{
	background-color: #40A3CC;
	}
.lineGreen{
	background-color: #5E891E;
	}
.lineGreen2{
	background-color: #E6FCC5;
	}
.lineDotted{
	background-image:url(../images/line_dot.gif);
	background-repeat:repeat-x;
	vertical-align:middle;
	}
.tableHeadBlueLight{
	background-color: #CBE2F0;
	font-family:Verdana;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #044C76;
	height: 31px;
	}
.tableHeadBlueLight2{
	background-color: #CBE2F0;
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #044C76;
	height: 20px;
	}
.text1{
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #666666;
	}
.text2{
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	font-weight:normal;
	color: #2472A0;
	vertical-align:middle;
	}
.text3{
	font-family:tahoma;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	color: #40A3CC;
	vertical-align:middle;
	padding-left: 10px;
	}
.text4{
	font-family:tahoma;
	font-size:10px;
	font-style:normal;
	font-weight:bold;
	color: #666666;
	vertical-align:middle;
	padding-left: 10px;
	}
.text5{
	font-family:tahoma;
	font-size:15px;
	font-style:normal;
	font-weight:bold;
	color: #666666;
	vertical-align:middle;
	}
.textQuotes{
	font-family:tahoma;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #40A3CC;
	vertical-align:middle;
	}
.table{
	border: 1px solid #5BB1D4;
	}
.tableBgHead{
	/*background-image:url(../images/table_grad.gif);*/
	background-repeat:repeat-x;
	background-color: #237EA4;
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #FFFFFF;
	height: 21px;
	padding-left: 10px;
	}
.tableBgTitle{
	background-color: #7AC5E4;
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #FFFFFF;
	text-align:center;
	}

.tableBgBlueContent{
	background-color: #DCEFF7;
	font-family:tahoma;
	font-size:11px;
	font-weight: normal;
	color: #333333;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
.tableBgGrayContent{
	background-color: #F2F2F2;
	font-family:tahoma;
	font-size:11px;
	font-weight: normal;
	color: #333333;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
/*(.tableTextEdit{
	font-family:Verdana;
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	color: #044C76;
	}*/
.textBox{
	font-family:tahoma;
	font-size:11px;
	font-style:normal;
	color:#333333;
	border-top: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;
	border-bottom: 1px solid #ADADAD;
	border-left: 1px solid #ADADAD;
	}
.btn1{
	/*background-image:url(../images/table_grad.gif);*/
	background-color: #E6FCC5;
	height: 24px;
	border: 1px double #5E891E;
	font-family: tahoma;
	font-size: 11px;
	color:#666666;
	font-weight:bold;
	}
.Link1:active, .Link1:link, .Link1:visited{
font-family: tahoma;
font-size: 11px;
color:#2F93BD;
font-weight:bold;
text-decoration:none;
padding-left: 5px;
}
.Link1:hover{
color:#72C0E1;
text-decoration:underline;
}

.fieldNoBorder {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-SIZE: 10px; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: verdana;COLOR: #000000;
}

.trow {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}

.MenuBackground
{
	background-color: #f2fcbb;
	font-family: tahoma;
	font-size: 10px;
	color: Black;
	font-weight: bold;
	text-decoration: none;
}