@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #body
    {
        background-color: #f2f2f2;
    }
    header
    {
        background-color: #ffffff;
        height: 20px;
    }
    .logo
    {
        background-color: #ffffff;
        height: 100px;
        text-align: center;
    }
    .logo img
    {
        margin: 0px auto;
        width: 240px;
    }
    .main-content
    {
        padding: 0px;
    }
    .content-wrapper
    {
        max-width: 100% !important;
    }
    .loginContainer
    {
        width: 500px;
        background: #ffffff;
        margin: 150px auto;
        border-radius: 15px;
        -webkit-border-radius: 15px; /* Safari */
        -moz-border-radius: 15px; /* firefox */
        border: 1px solid #53b3da;
        padding: 5px 25px;
        text-align: center;
    }
    h4
    {
        font-size: 30px;
        color: #53b3da;
        margin-top: 18px;
        margin-bottom: 20px;
    }

    input[type="submit"], input[type="button"], button
    {
        border: 2px solid #41a5ce;
        border-radius: 5px;
        -webkit-border-radius: 5px; /* Safari */
        -moz-border-radius: 5px; /* firefox */
        background-color: #51b2d9;
        background: -webkit-gradient(linear, left top, left bottom, from(#7ac1e7), to(#51b2d9));
        background: -moz-linear-gradient(top,  #7ac1e7,  #51b2d9);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ac1e7',     endColorstr='#51b2d9');
        color: #ffffff;
        font-weight: bold;
    }
    .loginlable
    {
        width: 80px;
        text-align: right;
        margin-right: 20px;
    }
    .floatR
    {
        float: right;
    }
    .floatL
    {
        float: left;
    }
    .logininput
    {
        width: 220px;
        text-align: left;
    }
    .logininput input
    {
        width: 205px;
    }
    .fieldsetbox
    {
        width: 320px;
        margin: 0px auto;
    }
    a:link, a:visited
    {
        color: #333;
    }
    a:hover
    {
        color: #0c7dad;
        background: none;
    }
    .validation-summary-errors, .field-validation-error
    {
        color: #d61212;
        font-weight: normal;
    }
    input.input-validation-error
    {
        border: 1px solid #d61212;
    }
</style>

<link type="text/css" rel="stylesheet" href="../Content/New%20Design/jquery.mmenu.css" />
<link type="text/css" rel="stylesheet" href="../Content/New%20Design/common.css" />
<link href="../Content/New%20Design/hr.css" rel="stylesheet" />
<link href="../Content/themes/base/jquery.ui.dialog.css" rel="stylesheet" />

<div id="page">
    <section class="ConfirmationContainer Container">
        <div class="MainBody RecH sendmailpop changepass">
            <div class="rwrap">
                <div class="clearfix">
                    <h3 class="smartrackH">
                        Change Password
                    </h3>
                    <p class="accountP">
                        Your password has been changed successfully.
                    </p>
                </div>
            </div>
        </div>
     </section>
</div>