#page {
    background: url('../../Images/New Design/employee-bg.png') no-repeat;
}

.appraisal-page {
    background: #e8e8e8;
    margin: 0px 2%;
    border-top: solid 1px #e8e8e8;
    padding-bottom: 30px;
    min-height: 680px;
    padding: 2%;
}

.AppraisalContainer {
    padding-bottom: 30px;
    margin-top: 38px;
}

    .AppraisalContainer .MainHeading {
        border-color: #173f78;
    }

    .AppraisalContainer .sub-menu-colored {
        background: #173f78;
    }

        .AppraisalContainer .sub-menu-colored a.selected {
            background: #0a2352;
        }

.appraisal-page .ngGrid .ngCell.col0 {
    text-align: center;
}

.appraisal-page .ngGrid input[type="checkbox"], .section-grid input[type="checkbox"] {
    display: inline-block;
    width: 13px;
    height: 13px;
}

.section-grid input[type="checkbox"] {
    margin-top: 9px;
}

.ngSelectionCell {
    margin-left: 0;
}

.ngGrid {
    border-top: solid 4px #777f85;
    height: 600px;
    margin-bottom: 25px;
}

.ngTopPanel {
    background: #c7ced4;
    padding: 2px 0 3px;
}

.section-grid-header th {
    background: #c7ced4;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    color: #5d676f;
}

.ngHeaderContainer {
    font-family: Arial, Helvetica, Verdana;
    font-size: 19px;
    font-weight: normal;
    color: #5d676f;
}

.ngRow.even {
    background: #ededed;
}

.ngRow.selected {
    background: #b4bcc3;
}

h4.SmallHeading.bg-danger {
    color: #a94442;
}

.bg-danger {
    padding: 10px 15px;
    border: solid #E79090 1px;
    color: #a94442;
}

h4.SmallHeading.bg-success {
    color: #3c763d;
}

.bg-success {
    padding: 10px 15px;
    border: solid #81C77F 1px;
    color: #3c763d;
}

h4.SmallHeading.bg-info {
    color: #3c763d;
}

.bg-info {
    padding: 10px 15px;
    border: solid #82BDDA 1px;
    color: #3C7998;
}

.ng-invalid-required {
    background-color: #F0A19E;
}

.cmdPanel {
    padding: 10px;
}

.appraisal-label label {
    font-weight: normal;
    font-size: 14px;
    word-break: break-word;
    max-height: 60px;
    overflow: auto;
    min-width: 80px;
}

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

table.th-min-width thead tr th {
    min-width: 120px;
}

.table-font-style tr td {
    font-size: 14px;
    min-width: 80px;
}

.header-bg-table {
    background: #c7ced4;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    color: #565C61;
}