<h3>Project Documents</h3>
<input type="button" value="Add Project Documents" class="button"/>
<div class="tablestyle3">
    <table id="jqAddProjectDocumentsTable">
    </table>
</div>
<div id="jqAddProjectDocumentsTablePager">
</div>




<script type="text/javascript">
     $(document).ready(function () {
        $("#jqAddProjectDocumentsTable").jqGrid({
            // Ajax related configurations
            url: '@Url.Action("TravelEmergencyContactLoadGrid", "Travel")',
            postData: { travelId: 12 },//hardcoded for testing
            datatype: "json",
            mtype: "POST",
            // Specify the column names
            colNames: ["File name", "Attached By", "Attached On", "Description", "Delete"],            
            // Configure the columns
            colModel: [
                { name: "FileName", index: "FileName", align: "left", width: 200},
                { name: "AttachedBy", index: "AttachedBy", align: "left", width: 150 },
                { name: "AttachedOn", index: "AttachedOn", align: "left", width: 150 },
                { name: "Description", index: "Description", align: "left", width: 190 },
                {
                    name: "Delete",
                    index: "Delete",
                    width: 10,
                    align: "center",
                    formatter: function() {
               
                            return '<img src="../../Content/themes/base/images/delete-icon.png" width="15px" height="15px" class="HideinPrint">';
                        
                    }
                }
            ],
            // Grid total width and height
            width: 700,
            // Paging
            toppager: true,
            jsonReader: { repeatitems: false },
            pager: $("#jqAddProjectDocumentsTablePager"),
            rowNum: 5,
            rowList: [5, 10, 20],
            viewrecords: true, // Specify if "total number of records" is displayed
            height: 'auto',
            autowidth: false,
            // Default sorting
            sortname: "",
            sortorder: "asc",
            // Grid caption
            caption: "Project Documents",
              gridComplete: function () {
            },
            onCellSelect: function(rowid, iCol) {
			},
        }).navGrid("#jqAddProjectDocumentsTablePager",
            { search: false, refresh: false, add: false, edit: false, del: false },
            {}, // settings for edit
            {},
            {}
        );
        
        
     
     });
</script>