<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
      -->
    <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.8.27;Initial Catalog=Orbitphase2_UAT;Persist Security Info=True;User ID=sa;Password=mail_123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ApplicationServices" connectionString="Data Source=192.168.8.27;Initial Catalog=V2tools_UAT;Persist Security Info=True;User ID=sa;Password=mail_123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HRMSDBEntities" connectionString="metadata=res://*/HRMS.csdl|res://*/HRMS.ssdl|res://*/HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=192.168.8.27;initial catalog=V2intranet_UAT;user id=sa;password=mail_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WSEMDBEntities" connectionString="metadata=res://*/WSEM.csdl|res://*/WSEM.ssdl|res://*/WSEM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.27;initial catalog=V2Intranet_UAT;user id=sa;password=mail_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PMSDbEntities" connectionString="metadata=res://*/PMSData.csdl|res://*/PMSData.ssdl|res://*/PMSData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.27;initial catalog=Orbitphase2_UAT;persist security info=True;user id=sa;password=mail_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="V2toolsDBEntities" connectionString="metadata=res://*/V2Tools.csdl|res://*/V2Tools.ssdl|res://*/V2Tools.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.27;initial catalog=V2tools_UAT;persist security info=True;user id=sa;password=mail_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="PMS3_HRMSDBEntities" connectionString="metadata=res://*/PMS3HRMS.csdl|res://*/PMS3HRMS.ssdl|res://*/PMS3HRMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.8.27;initial catalog=PMS3;User id=sa;password=mail_123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="myConnectionString" connectionString="Server=192.168.8.27;Database=V2Intranet_UAT;uid=sa;pwd=mail_123;Connect Timeout=4000; pooling='true';  Max Pool Size=400;" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>



  <appSettings>
    <add key="ConnectionStringForSkillMatrix" value="data source=192.168.8.27;initial catalog=V2Intranet_UAT;user id=sa;password=mail_123;multipleactiveresultsets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sql_Helpdesk_connection" value="Server=192.168.8.27;database=V2Intranet_UAT;user id=sa;password=mail_123; Connect Timeout=5000;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="UploadedfilePath" value="D:\Upload_UAT\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="IT_Dept_EmailID" value = "lakshmi.murthy@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="IT_Dept_CCEmailID" value = "lakshmi.murthy@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-ADMIN" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-ADMINCC" value = "amol.jiwane@v2solutions.com,amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="HR-ADMIN" value="amol.jiwane@v2solutions.com;amit.sharma@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Finance" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="FinanceCC" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-HR" value = "poonam.sharma@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-HRCC" value = "poonam.sharma@v2solutions.com,madhuri.mahadik@v2solutions.com,meenu.rana@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-IT" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="OPS-ITCC" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="Asset-Management" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="Asset-ManagementCC" value="amol.jiwane@v2solutions.com,amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="RMG" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="RMGCC" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="Purchase" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="PurchaseCC" value="amol.jiwane@v2solutions.com,amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="PMO" value = "jigna.makhija@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="PMOCC" value="jigna.makhija@v2solutions.com,amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="ORG-Graphics" value = "amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="ORG-GraphicsCC" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>

    <add key="Admin-T431" value="berchman.mathews@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="Mail_Path" value="http://intranet/HelpDesk/admin/AssignTask.aspx?id=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="NewResource" value="114" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UpdateCurrentAllocation" value="115" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SingleOrBulkExtension" value="116" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewResourceText" value="New Resource" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UpdateCurrentAllocationText" value="Update Current Allocation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SingleOrBulkExtensionText" value="Single or Bulk Extension" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPServerName" value="smtp.gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserName" value="smtp-relay@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="test1234@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsSSLRequiredForEmail" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="Port" value="25"/>-->
    <add key="webpages:Version" value="2.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreserveLoginUrl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SecurityKey" value="Syed Moshiur Murshed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadHRFileLocation" value="D:\Upload_UAT\HRUploadDocs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadRMGFileLocation" value="D:\Upload_UAT\RMGUploadDocs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadClientInviteLetterLocation" value="D:\Upload_UAT\ClientInviteLetterDocs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadEmployeeFileLocation" value="D:\Upload_UAT\EmployeeUploadDocs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadPassportFileLocation" value="D:\Upload_UAT\EmployeePassports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadVisaFileLocation" value="D:\Upload_UAT\EmployeeVisas" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadAdminVisaFileLocation" value="D:\Upload_UAT\AdminVisas" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadAccFileLocation" value="D:\Upload_UAT\AccomodationUploadDocs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadAccTempFileLocation" value="D:\Upload_UAT\AccomodationUploadDocs/Temp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadJourneyFileLocation" value="D:\Upload_UAT\EmployeeJourney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadAppraisalAchmentFileLocation" value="D:\Upload_UAT\AppraisalAddProjectAchmnts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadContractFileLocation" value="D:\Upload_UAT\CustomerContracts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadManagerDocumentFileLocation" value="D:\Upload_UAT\VWDocuments" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DownLoadTemplateForTaskCreation" value="D:\Upload_UAT\TaskUpload/Template.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadTemplateForTaskCreation" value="D:\Upload_UAT\TaskUpload" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadPassportTempFileLocation" value="D:\Upload_UAT\EmployeePassports/Temp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadAdminVisaTempFileLocation" value="D:\Upload_UAT\AdminVisas/Temp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UploadClientInviteLetterTempLocation" value="D:\Upload_UAT\ClientInviteLetterDocs/Temp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerSendMailToPerson1" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerSendMailCCPerson1" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerSendMailCCPerson2" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.disableHandler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.requiresAuthentication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.allowedRoles" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.allowedUsers" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.route" value="elmah" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Log-OffURL" value="http://myv2.v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsDebug" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WhiteListedIpAddress" value="122.182.0.74,124.30.226.98,120.138.208.42,122.166.227.180,124.40.244.56" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WhiteListedEmpCode" value="3685,3431,3850,3519,1328,2039,1195,262,1407,2016,2028,1923,1427,2037,2041,2001,2038" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RoutedIPAddress" value="10." xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="InternalIPAddress" value="192.168" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="URL" value="http://localhost:25000/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ProbNoticePeriodDuration" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CnfNoticePeriodDuration" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RMGEmailId" value="amol.jiwane@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RMGName" value="Jayaraj Nadar" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="HostName" value="webmail.in.v2solutions.com"/>-->
    <add key="PortNumber" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ExpenseReimbursementEmpID" value="187" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--ssrs report-->
    <add key="ReportServerURL" value="http://v2mumpc0519/ReportServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportServerDomain" value="v2solutions" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportServerUser" value="tushar.gite@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportServerPassword" value="hareram@123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="V2toolsDBEntity" value="data source=192.168.8.27;initial catalog=V2tools_UAT;persist security info=True;user id=sa;password=mail_123;multipleactiveresultsets=True;App=EntityFramework" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DesignationID" value="150,163,167,176" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailAddress" value="v2system@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPUserName" value="smtp-relay@v2solutions.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPPassword" value="test1234@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogFileName" value="D:\Data\VibrantwebLogFile.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmarttrackUploadedfilePath" value="D:\Upload_UAT\Smarttrack Resume" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="MarginalCandidate" value="Marginal Candidate - relatively high risk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="AverageCandidate" value="Average Candidate - normal risk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="StrongCandidate" value="Strong Candidate - minimal risk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="UnitedStatesCountryCode" value="US" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="IndiaCountryCode" value="IN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="LocalNetworkIP" value="122.182.0.74,124.30.226.98,120.138.208.42,122.166.227.180,124.40.244.56" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="PageAccessKeyValue" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="IPAddressWebServiceURL" value="http://api.ipinfodb.com/v3/ip-country/?key=989f1374dc528a8ea159064430a19d2e0756c05b46f6943a75b03257ce8b88a2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <add key="File.ExpenseUploadLocation" value="d:\HRMS\Uploads\Expense" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"></add>
    <!--<add key="File.ExpenseUploadLocation" value="../Uploads/Expense"></add>-->
    <!--/////////-->
    <add key="elmah.mvc.disableHandler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.requiresAuthentication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.allowedRoles" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.allowedUsers" value="*" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="elmah.mvc.route" value="elmah" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>















  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>