body {
    margin: 50px auto;
    padding: 0;
    max-width: 1200px;
}

.table tr td.p-none {
    padding: 0;
}

.mb-none {
    margin-bottom: 0;
}

.table .table-style-none .table {
    border: none;
    margin: 0;
}

.table .table-style-none > td {
    border: none;
}

.table-border-left {
    border-left: solid #ddd 1px;
}

.table .table-style-none td .table td {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.appraisal-question-section {
    border: solid #ddd 1px;
    padding: 10px 20px 0;
    margin: 30px 0;
}

.header {
    background: #eee;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.header1 {
    background: #F15B28;
    padding: 15px 15px 1px;
}

.iner {
    background: #ffffff;
    padding: 10px 15px;
    margin: 10px 0;
}

#fonts {
    font-size: 12px;
}

.form-group {
    margin: 10px 0;
}

.question-section span {
    line-height: 34px;
}