body { margin:50px auto; padding:0; max-width:1200px;border: solid black 1px;}

.errorinput {
    color: #850000;
    background: rgba(254, 186, 186, 0.5);
    border: 1px solid #850000;
}

.mainContainer {
    margin: 15px;
}

.submit {
    width: 105px;
}