<div>
    <h3>
        Guidelines
    </h3>
    <h4 class="mrgnT20">
        A. Guidelines on how to select managers
    </h4>
    <ol class="ordered">
        <li>For Roles below Project Manager, select the immediate Reporting Manager and Delivery
            Manager/Group Head</li>
        <li>For Project Manager, select Delivery Manager/Group Head</li>
        <li>For Delivery Manager, select Group Head</li>
        <li>For Group Head, select Management</li>
    </ol>
    <h4 class="mrgnT20">
        B. When at the Finance Approver Stage, kindly submit the hard copy of the receipts
        to Finance to complete the process
    </h4>
</div>