<div id="Guide-txt">
<h2>Guidelines</h2>
<table cellpadding="0" cellspacing="0" width="0%" border="1" id="expenseGuidelines" style="margin-top:20px;margin-bottom:30px;">
        <thead>
            <tr class="bluebgtable1">
                <td width="25%">
               Nature of Expense
                </td>
                <td width="25%">
                    Expenses(Mention In Comments)
                </td>
            </tr>
            <tr>
                <td align="center">
                   Employee Welfare
                </td>
                <td align="center" width="25%">
                   Lunch,Snacks and Dinner
                </td>
                      </tr>
            <tr>
                <td align="center">
                  Conveyance/Travelling
                </td>
                <td align="center" width="25%">
                   Cab,Bus,Train,Flight,Car
                </td>
            </tr>
            <tr>
                <td width="25%" align="center">
                Client Entertainment
                </td>
                <td align="center" width="25%">
                 Any expenses related to client like food,gift, travelling,etc.
                </td>
            </tr>
             <tr>
              <td width="25%" align="center">
                   Telephone/Mobile
                </td>
                   <td align="center" width="25%">
                   Telephone, Mobile,Internet,VOIP
                </td>
             </tr>
             <tr>
              <td width="25%" align="center">
                 Visa Charges
                </td>
                <td width="25%" align="center">
                </td>
             </tr>
             <tr>
              <td width="25%" align="center">
                Team Outing
                </td>
                   <td align="center" width="25%">
                 Using against budgets.Please mention QTR
                </td>
             </tr>
             <tr>
              <td width="25%" align="center">
                Others
                </td>
                <td width="25%" align="center">
                </td>
             </tr>
        </thead>
    </table>
</div>