@model HRMS.Models.ExpenseReimbursementStatus
<script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
<script src="../../Scripts/ExpenseReimbursement/ShowstausReimbus.js" type="text/javascript"></script>
<div class="tablestyle3">
    <table id="ReimbursementShowStatusTable" class="scroll">
    </table>
</div>
<div id="ShowStatusReimbusTablePager">
</div>