@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PersonalLayout.cshtml";
}

<script src="../../Scripts/angular.js" type="text/javascript"></script>
<script src="@Url.Content("Scripts/ng-grid.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ui-bootstrap-tpls-0.12.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Service.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Employee.js")" type="text/javascript"></script>

    <link href="CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="CSS/ng-grid.css" rel="stylesheet" />
    <link href="CSS/Employee.css" rel="stylesheet" />
<section class="PMSContainer Container">
<div class="MainBody ProjectIndexbody">
<div ng-app="MyTest" ng-controller="Controllers" >
    <!--<div class="gridStyle" ng-grid="employeeGrid"></div>
    <hr />-->
    <div class="gridStyle" ng-grid="gridOptions"></div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" ng-click="submit()" class="btn btn-success btn-primary submit"><b>Submit</b></button>
        </div>
    </div>
    <hr />
    <div>{{selectedData|json}}</div>
    <div ng-controller="ModalInstanceCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Employee Detail</h3>
            </div>
            <div class="modal-body">
                {{items}}
                <ul>
                    <li ng-bind="i.empId"></li>
                    <li ng-bind="i.EmpName"></li>
                    <li ng-bind="i.empDetaile"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" dismiss="Employee.html" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>
SAndeep</div>
    </section>