/*body { margin:50px auto; padding:0; max-width:1200px;border: solid black 1px;}*/

.errorinput {
    /*color: #850000;
    background: rgba(254, 186, 186, 0.5);*/
    border: 1px solid #850000;
}

.main {
    background: #e8e8e8;
    margin: 0px 40px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.mainemployee {
    background: #FFF;
}

.mainContainer {
    margin: 15px;
}

.submit {
    width: 105px;
}

.img {
    height: 40px;
}

.table_btn {
    padding-left: 45px;
}

.spanImgD {
    float: left;
    width: 45px;
    height: 34px;
}

.nav-tabs > li > a {
    text-decoration: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.appraisal-page {
    background: #e8e8e8;
    width: 96%;
    margin: 0px 2%;
    border-top: solid 1px #e8e8e8;
    padding-bottom: 30px;
    min-height: 680px;
    padding: 2%;
}

.tab-content {
    background: #fff;
    padding: 10px;
    border: solid #ddd 1px;
    border-top: none;
}

.nav-tabs > li > a {
    background-color: #ddd;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

    .nav-tabs > li > a:hover {
        background-color: #ccc;
    }

.sub-menu-colored {
    display: block;
    padding-left: 2%;
    min-height: 38px;
    background: #173f78;
}

    .sub-menu-colored a.selected {
        background: #0a2352;
    }

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: grey;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.stage-complate-blocks li:first-child {
    border-left: solid #ccc 1px;
}

.stage-complate-blocks li {
    border: solid #ccc 1px;
    border-left: none;
    float: left;
    width: 30px;
    height: 30px;
    background: #fff;
}

.stage-complate-blocks li.blue {
    background-color: #31b0d5;
}

/*.stage-complate-blocks li .blue {
    background-color: #31b0d5;
    float: left;
    width: 100%;
    height: 100%;
}*/