 #page{background:url('../../Images/New Design/finance-bg.png') no-repeat;}
 body{font-family: arial, sans-serif;}
.ExpensePage #page{background:url('../../Images/New Design/finance-bg.png') no-repeat fixed;}
.ExpenseContainer{}
.ExpenseContainer .MainHeading{border-color: #54b4eb;}
.ExpenseContainer .sub-menu-colored{background-color: #54b4eb;}
.ExpenseContainer .sub-menu-colored a.selected{background-color: #2c8ede;}
.ExpenseContainer form{margin:0 42px;}
.ExpenseContainer form label{}
.ExpenseContainer .finance-middle label{ margin:0;}
.emp-details{margin:20px;}
.ExpenseContainer form label.suffix{font-weight: bold; margin-left:15px;}
/*.ExpenseContainer form label:nth-child(2n){margin-right:52px;}*/
.ExpenseContainer form label.suffix{margin-right:52px;}

#PrintContent1 .finance-middle{ background-color: #dcdfe3; /*margin:95px 31px 0 31px;*/ width:100%;}

.finance-middle .selectBox-dropdown, .finance-middle .selectBox-dropdown{width: 250px; height: 28px;}
.finance-middle .sbOptions{width:250px;}

.finance-middle .LabelDiv{ float:left; width:48%; margin-left: 12px;}
.finance-middle .InputDiv{ float: left; width:49%;}
.ExpenseContainer .formcol{margin-bottom: 10px;}
.ExpenseGrayButton{margin: 27px 40px;}

.TotalExpenseDiv{width:94%;margin: 0 auto;height: 38px;background-color: #a6b4bf;border-top:solid 1px transparent;padding:17px 1%;}
.TotalExpenseDiv label{font-size: 1.400em;  color: #ffffff; float: left;margin-top: 6px;text-align: right;margin-right: 24px;}
.TotalExpenseDiv label:first-child{width:146px;}
.TotalExpenseDiv label:nth-of-type(2){width:138px;}
.TotalExpenseDiv label:nth-of-type(3){width:231px;}
.TotalExpenseDiv input{width: 179px;height:28px;border:solid 1px #cfcfcf;  font-size: 1.500em; color:#5d676f;padding-left: 15px;vertical-align: middle;float: left;}
.finance-middle{ background-color: #dcdfe3;width:96%;margin: 0 auto;background-color: #dcdfe3;padding-top: 14px;padding-bottom: 4px;}
.TotalExpenseDiv input:nth-of-type(3){color:#24abff;}

.TotalExpenseDiv .LabelForCheckbox{margin-left:30px;margin-top:-2px;width:20px;margin-right:0px;padding-left:0px;}
/*#ReimbursementTable .ui-jqgrid-bdiv{max-height:100px;overflow:auto;}*/

.SmallHeadW{font-size: 1.300em; margin: 16px auto -14px; color: #7e868c; padding-left: 36px; font-weight:normal;}

.finance-middle .colOneThird{margin-bottom:0px;height:50px;}

/*fixes*/
#SecondaryApproverErrorMessage{position:relative;top:-24px;font-size:0.9em; display: block;}
@media only screen and (max-width: 1690px){
    /*.ExpenseContainer form label:nth-child(1),.ExpenseContainer .MainBody form label:nth-child(2),.ExpenseContainer .MainBody form label:nth-child(3),
	.ExpenseContainer form label:nth-child(4),.ExpenseContainer .MainBody form label:nth-child(5),.ExpenseContainer .MainBody form label:nth-child(6)
	{margin-bottom: 20px;}*/
	/*.ExpenseContainer form label:nth-child(2n){margin-right: 110px;}*/
	.ExpenseContainer form label:nth-child(7), .ExpenseContainer .MainBody form label:nth-child(8),
	.ExpenseContainer form label:nth-child(7){clear: left; margin-top: 10px;}
    .ExpenseContainer form label:nth-child(9), .ExpenseContainer .MainBody form label:nth-child(10), .ExpenseContainer .MainBody form label:nth-child(11){margin-top: 10px;}
    .ExpenseContainer .mrgnLN96, .ConfirmationContainer .mrgnLN96{margin-left: -80px;}
    .ExpenseContainer .formcol{margin-bottom:10px;}
    .colOneThird{width: 50%;}
    .emp-details .floatL{margin:10px 0px;}
    .ex-savedSUb .LabelDiv{width:9%;}
    .ex-savedSUb .InputDiv{width:13%;}
    .ex-savedSUb .mrgnLN94{margin-left:-77px;}
}
@media only screen and (max-width: 1450px) {
    .TotalExpenseDiv input{width:125px}
    .ex-savedSUb .LabelDiv{width:11%;}
    .ex-savedSUb .InputDiv{width:16%;}
    .ex-savedSUb .mrgnLN94{margin-left:-71px;}
}

@media only screen and (max-width: 1360px) {
.finance-middle .LabelDiv{width: 34%;}
}