#page{background:url('../../Images/New Design/employee-bg.png') no-repeat;}
a, a:link, a:active, a:visited, a:hover {  text-decoration: none;}
body{font-family: arial, sans-serif;}

.EmployeeContainer .MainHeading{border-color: #60408f;}
.EmployeeContainer .sub-menu-colored{background-color: #60408f;}
.EmployeeContainer .sub-menu-colored a.selected{background-color: #4f337d;}

.EmpDetails .LabelDiv{width:49%;}
.EmpDetails .InputDiv{width:48%;}

.DesignationDetails  .leftcol .LabelDiv{width:18%;}
.EmpDetails .leftcol{margin-right:100px;}

/*Epmloyee details (passport/visa styling) */
.passport-details h4, .Disciplinary h4{font-size: 1.300em; margin: 13px 0 19px 0; color: #7e868c; font-weight:normal;}
.passVisa{margin: 8px 33px 33px 33px;}
.passVisa h4.adjP{margin-top: 0;}
.employee-personalD-tabs{margin-top:43px;}
.passport-details .passVisa .ButtonContainer1{margin: 18px 0 18px 15px;}
/*.passport-details .employee-personalD-tabs li a{color:#dcdfe3;}*/
.passport-details .FileUpload {height:35px;}
.brws-label{margin-left: 15px; line-height: 27px; font-size:1.170em; color: #5d676f;}
.passVisa .rightcol{width: 37%;}
.visarednote{color: #f24b4b; font-size: 1.100em; margin: 22px 0 0 18px;}
/*disciplinary*/
/*.DisciplinaryMainbody .ButtonGray, .BondMainbody .ButtonGray{margin: 24px 0 20px 56px;}*/
.Disciplinary .leftcol, .Bond .leftcol {width: 26%;}
.Disciplinary .leftcol .LabelDiv, .Bond .leftcol .LabelDiv{width:25%;}
.Disciplinary .rightcol .LabelDiv, .Bond .rightcol .LabelDiv {width:18%}

/*Bond*/
.BondMainbody .ButtonGray{margin: 24px 0 20px 56px;}
.Bond .leftcol {width: 26%;}
.Bond .leftcol .LabelDiv{width:28%;}
.Bond .rightcol .LabelDiv {width:24%;}
.Bond .rightcol select{width: 95px;}
.Bond .rightcol .sbOptions{width: 95px;}

/*Experience*/

.ExperienceMainbody h4{font-size:  1.300em; margin: 18px auto 19px; color: #7e868c; padding-left: 36px; font-weight:normal;}
.ExperienceMainbody .gapE{margin: 0px auto 19px;}
.ExperienceMainbody .addpast .leftcol{width: 29%;}
.ExperienceMainbody .addpast .LabelDiv{width:31%;}
.ExperienceMainbody .addgap .leftcol{width: 32%;}
.ExperienceMainbody .addgap .leftcol .LabelDiv{width: 28%;}
.ExperienceMainbody .addgap .rightcol .LabelDiv{width: 22%;}
.ExperienceTable{margin:42px auto 0px;}
.ExperienceTable input{width:232px;height:28px;border:solid 1px #cfcfcf;}
.ExperienceTable .tableRows td{padding:4px 4px 4px 13px;}

/*Personal Datails(Contact-details)*/

.ContactMainbody .addcontact p{line-height: 16px;  font-size: 0.850em; color: #5d676f; margin-bottom: 0;}
.ContactMainbody h4, .ResidenceMainbody .reshead1{font-size: 1.300em; margin: 13px auto 15px; color: #7e868c; padding-left: 36px;  font-weight:normal;}
.ContactMainbody .addcontact .leftcol{width:37%;}
.ContactMainbody .addcontact .leftcol .LabelDiv{width:24%;}
.ContactMainbody .addemer .leftcol .LabelDiv{width:24%;}
.ContactMainbody .addemer .leftcol{width:37%;}
.ContactMainbody .addemer .rightcol .LabelDiv{width:33%;}
.ContactMainbody .addcontact .InputDiv{width:60%;}
.ContactMainbody .addcontact .rightcol{width:35%;}
.default-btn { position: absolute; margin-left: -14px; z-index: 1111111;color: #fff !important;cursor: pointer;}
/*dependent*/
 .DependentMainbody .ButtonGray{margin: 24px 0 20px 65px;}
 .DependentMainbody .dependent .leftcol .LabelDiv{width: 29%}
 .DependentMainbody .dependent .rightcol .LabelDiv{width: 20%}
 .DependentMainbody .dependent .leftcol select{width:165px;}
 .DependentMainbody .dependent .leftcol .sbOptions{width:165px;}

 /*declaration*/
 .DeclarationMainbody .ButtonGray{margin: 24px 0 20px 65px;}
 .DeclarationMainbody .Declaration .leftcol{width: 28%;}
 .DeclarationMainbody .Declaration .leftcol .LabelDiv{width: 19%;}
 .DeclarationMainbody .Declaration .rightcol .LabelDiv{width: 28%;}

/*personal*/
.BlogPicContainer{margin-bottom:4px;}
.BlogPic{position:relative;top:20px;}

 /*residence*/
/*.ResidenceMainbody .ButtonGray{margin: 24px 0 20px 65px;}*/
.ResidenceMainbody .reshead{font-size: 1.300em; margin: 21px auto 19px; color: #7e868c; padding-left: 36px;   font-weight:normal;}
.ResidenceMainbody .FormContainerBox{margin-top:0px;}
.ResidenceMainbody .Container96{position:relative;top:-12px;}
.res-per-addd{font-size:1.300em;  margin: 21px auto 19px; color: #7e868c; padding-left: 36px; font-weight: normal;}

/*Education*/
/*.EducationMainbody .ButtonGray{margin: 24px 0 20px 65px;}*/
.EducationMainbody .education .leftcol .LabelDiv{width:23%;}
.EducationMainbody .education .rightcol .LabelDiv{width:28%;}

/*Certification*/
/*.CertificationMainbody .ButtonGray{margin: 24px 0 20px 65px;}*/
.CertificationMainbody .Certification .LabelDiv{width:29%;}

/*Skill*/
.SkillMainbody .ButtonGray{margin: 24px 0 20px 65px;}
.SkillMainbody .Skill .leftcol{width:25%;}
.SkillMainbody .Skill .leftcol .LabelDiv{width:14%;}
.SkillMainbody .Skill .rightcol .LabelDiv{width:17%;}
.SkillsTable{margin:33px auto 0;}

/*medical-history*/
.MedicalMainbody .ButtonGray{margin: 24px 0 20px 65px;}
.MedicalMainbody .fill-dtls .ButtonGray:last-child{margin-left:20px;}
.MedicalMainbody h4.personal_medical_head{font-size: 1.300em; margin: 33px auto 19px; color: #7e868c; padding-left: 36px;  font-weight:normal;}
.MedicalMainbody .secone .ButtonGray{margin: 0;}
.MedicalMainbody .sectwo{margin-top: 26px;}
.MedicalMainbody .secone .leftcol .LabelDiv{width: 30%;}
.MedicalMainbody .secone .leftcol{width:23%;}
.MedicalMainbody .sectwo .leftcol .LabelDiv{width: 31%;}
.MedicalMainbody .sectwo .leftcol{width: 30%;}
.MedicalMainbody .sectwo .rightcol .LabelDiv{width: 10%;}

/*fixes*/
.VisaDetails .BrowseSpacingFix p.qualif-detail{margin-top:0px;}

@media only screen and (max-width: 1580px) {
    .ExperienceMainbody .addpast .leftcol {width: 42%;}
    .ExperienceMainbody .addpast .rightcol{width: 47%;}
    .ExperienceMainbody .addgap .leftcol{width: 47%;}
    .ExperienceMainbody .addgap .rightcol{width: 44%;}

    .ContactMainbody .addcontact .leftcol {width: 48%;}
    .ContactMainbody .addcontact .rightcol{width:47%;}
    /*.ContactMainbody .addcontact .LabelDiv{width:34%;}*/
    .ContactMainbody .addemer .leftcol{width:48%;}
    .ContactMainbody .addemer .rightcol{width: 49%;}
    .DependentMainbody .dependent .leftcol{width:46%;}
    .DependentMainbody .dependent .rightcol{width:43%;}
    .DependentMainbody .dependent .rightcol .LabelDiv{width:22%;}
    .DeclarationMainbody .Declaration .leftcol{width:39%;}
    .DeclarationMainbody .Declaration .rightcol{width:45%;}
    .ResidenceMainbody .residence .leftcol{width:47%;}
     .ResidenceMainbody .residence .leftcol .LabelDiv{width: 31%;}
    .ResidenceMainbody .residence .rightcol{width:42%;}

    .EducationMainbody .education .leftcol{width:44%;}
    .EducationMainbody .education .rightcol{width:47%;}
    .CertificationMainbody .Certification .leftcol, .CertificationMainbody .Certification .rightcol{width:45%;}

    .SkillMainbody .Skill .leftcol{width:33%;}
    .SkillMainbody .Skill .rightcol{width:46%;}

    .MedicalMainbody .secone .leftcol .LabelDiv{width: 29%;}
    .MedicalMainbody .secone .leftcol{width:34%;}
    .MedicalMainbody .sectwo .leftcol{width: 43%;}
    .MedicalMainbody .sectwo .rightcol{width: 50%;}

    .PersonalDetails  .leftcol {width:45%;}
    .PersonalDetails  .rightcol {width:45%;}

    .EmpDetails .leftcol{margin-right:0px;}
}
@media only screen and (max-width: 1690px) {
    .MedicalMainbody .secone .ButtonGray {margin: 0 0 0 32px;}
    .ContactMainbody .addcontact .leftcol .LabelDiv{width:28%;}
    .UploadsPage  .leftcol,.UploadsPage  .rightcol{width:50%;}
}
@media only screen and (max-width: 1450px) {
    .MedicalMainbody .secone .ButtonGray{margin: 0 0 0 5px;}
}