#page{background:url('../../Images/New Design/attendance-bg.png') no-repeat;}
body{font-family: arial, sans-serif;}
.HelpdeskContainer .MainHeading{border-color: #ed8e4e;}
.HelpdeskContainer .sub-menu-colored{background-color: #ed8e4e;}
.HelpdeskContainer .sub-menu-colored a.selected{background-color: #e3762d;}