body.AttendancePage{background:url("../../Images/New Design/main-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); font-family: arial, sans-serif;}
#page{background:url('../../Images/New Design/attendance-bg.png') no-repeat;}
a,a:link,a:active,a:visited,a:hover{text-decoration:none;}
.AttendanceContainer .MainHeading{border-color: #ed8e4e;}
.AttendanceContainer .sub-menu-colored{background-color:#ed8e4e; }
.AttendanceContainer .sub-menu-colored a.selected{background-color: #e3762d;}
.OrbitAuto{background-color: #dcdfe3;width:96%;margin: 28px auto 0px;padding-top: 20px;padding-bottom: 20px; margin-top: -47px;}

.OrbitFilter{float: right;margin-right: 20px;}
.OrbitFilterImage{background:url('../../images/New Design/filter.png') no-repeat;width:43px;height: 43px;display: inline-block;border:none;cursor:pointer;/*margin-top: 5px;margin-right: 19px;*/}
a.OrbitFilterLink{text-decoration:none;border-left: solid 1px #5d676f;font-size: 1.745em;color:#5d676f;text-decoration: none;line-height: 44px;display: inline-block;padding-left: 12px;margin-top:0px;}
.OrbitFilter:hover .OrbitFilterImage{background:url('../../images/New Design/filter-hover.png') no-repeat;}
.OrbitFilterExpand{float: right;margin-right: 1%;margin-top: 0px;height: 44px;width:575px;}
.OrbitFilterExpand input[type="text"]{height: 28px ;line-height: 28px ;border:solid 1px #cfcfcf ;width:100px ;padding-left: 12px;}
.OrbitFilterExpand .selectBox-dropdown{height: 28px;border:solid 1px #cfcfcf;width:150px !important;vertical-align: middle;float: left;margin-right: 33px;position: relative;top: 7px;}
.search-detailsdata .OrbitFilterExpand .selectBox-dropdown{height: 28px;border:solid 1px #cfcfcf;width:150px !important;vertical-align: middle;float: left;margin-right: 33px;position: relative;top: 7px;}
.OrbitFilterExpand .sbOptions,.search-detailsdata .OrbitFilterExpand .sbOptions{width:150px;}
.OrbitFilterExpand input,.OrbitFilterExpand img.ui-datepicker-trigger,.OrbitFilterExpand .OrbitFilterImage{float: left;}
.OrbitFilterExpand .OrbitFilterImage{position: relative;top: 0px;}
.OrbitFilterExpand input,.OrbitFilterExpand input.ui-datepicker-trigger,.LeaveMgmtContainer .OrbitFilterExpand input.ui-datepicker-trigger{position: relative;top: 7px;}

.OrbitNote{margin: 20px auto 16px; font-size:0.850em; color: #404447; width:96%; }
.ManualContainer h3{font-size: 1.750em;color:#5d676f;margin-top: 27px;margin-left: 48px;margin-bottom:0px;font-weight: normal;}
.ManualButtonDiv{text-align:center; margin: 11px auto 0;}
.ManualInTimeDiv h3,.ManualOutTimeDiv h3{font-size:1.500em; color:#5d676f;font-weight: normal;margin: 0px 0px 32px;}
.ManualFormDiv{margin: -47px auto 0;width:847px;}
.ManualInTimeDiv{margin-right: 5px;}
.ManualOutTimeDiv,.ManualInTimeDiv{width: 385px;background-color: #DCDFE3;float: left;padding: 24px 0px 27px 36px;}
.ManualFormDiv .LabelDiv{float: left;width: 29%;}
.ManualFormDiv .LabelDiv label{line-height: 34px; font-size:  1.170em;color: #5d676f; }
.ManualFormDiv .InputDiv{float: left;width: 71%;}
.ManualFormDiv .InputDiv input[type="text"]{height: 28px;line-height: 28px;border:solid 1px #cfcfcf;width:150px;}

.ManualFormDiv .InputDiv .selectBox-dropdown{height: 28px;line-height: 25px;border:solid 1px #cfcfcf;width:90px !important;float: left;margin-right: 16px;}
.ManualFormDiv .InputDiv .sbOptions{width:95px;}
.ManualFormDiv .InputDiv textarea{height: 75px;border:solid 1px #cfcfcf;width:180px;}
.ManualFormDiv .formcol{margin-bottom: 16px;}
.ManualFormDiv input.ui-datepicker-trigger{top:-3px;}

/*Leave Management styling*/
.LeaveManagement #page{background:url('../images/attendance-bg.png') no-repeat fixed;}
.LeaveMgmtContainer .MainHeading{border-color: #ed8e4e;}
.LeaveMgmtContainer{margin-top:38px;}
.LeaveMgmtContainer .sub-menu-colored{background-color:#ed8e4e; }
.LeaveMgmtContainer .sub-menu-colored a.selected{background-color: #e67e39;}
.LeaveMgmtContainer h3{ color:#5c666e; margin: 29px 0 32px 45px; font-weight: normal; font-size: 2.400em; float:left;}
.leave-note{float:right;  font-size:  1.740em; color:#ca6828; margin: -10px 53px 10px 45px;}
.leave-note .SpanNote{font-size: 0.500em; color:#5d676f;}
.LeaveMgmtContainer .add-detailsdata,.LeaveMgmtContainer .search-detailsdata,.LeaveMgmtContainer .holiday-listdata{margin-bottom:0px;}
.LeaveMgmtContainer .LabelDiv{width:20%;}
#MainContent_txtAppliedFor{width:155px;}
.LeaveMgmtContainer .InputDiv .TextareaBig{width:400px;}

.add-detailsdata label,.search-detailsdata label{ color: #5c666e; font-size: 1.000em; margin-right: 19px;}

.reason{width: 400px; height:71px; margin: 19px 0 0 16px; border: solid 1px #cfcfcf;}
.CompOff .reason{margin-left: 93px;}
.fill-dtls2{margin: 17px 0 0 103px;}
.fill-dtls button.ButtonGray, .fill-dtls2 button.ButtonGray{margin-right: 5px;}
.search-detailsdata .selectBox-dropdown{width: 200px !important; height: 28px; float:left; margin-right: 30px;}
.search-detailsdata .sbOptions{width:200px;}
.search-detailsdata label.select-type{float:left;margin-top: 7px;}
.remain{margin-top: -5px; float: left;}
#MainContent_PanelSearchDetails .remain{margin-top: -2px;}
.holiday-listdata .fill-dtls{width:22%;}
.holiday-listdata .fill-dtls p{ font-size: 18px; color:#646e75;}
.holiday-listdata .fill-dtls p span{ font-size: 18px; color:#646e75; float: right; margin-left: 20px;}
.outofOffice .comptabs{margin-top: 40px;}
.outofOffice .add-detailsdata,.outofOffice .search-detailsdata,.outofOffice .holiday-listdata{margin-top: 91px;}

.out-of-ofc label{float:left; margin-top:5px;}
.out-of-ofc .selectBox-dropdown{width: 217px !important; height: 28px; margin-right: 20px; float:left;}
.out-of-ofc .sbOptions{width:217px;}
.out-of-ofc .lb-reason{top: 415px; position: absolute;}
.out-of-ofc .reason{width: 250px; height:103px; margin: 19px 0 0 101px; border: solid 1px #cfcfcf;}

.out-of-ofc .colOneThird{width:20%; float: left;}

/*comp off*/
#txtReason{margin-top:16px;margin-left:21px;}
.CompOff .add-detailsdata .fill-dtls2{margin:17px 0 0 18%;clear:left;}

/*holiday list*/
#MainContent_HolidayTable tr td{height:30px;color:#646E75;font-size: 1.15em;}
#MainContent_HolidayTable tr td:first-child{width:200px;}
#MainContent_HolidayTable tr td:last-child{width:400px;}
.ajax__calendar .ajax__calendar_container{z-index:1;}

/*grid*/
.AttendanceContainer .TableJqgrid,.LeaveMgmtContainer .TableJqgrid{border-bottom:none;}
.gridPager{height:35px;background-color:#C7CED4;}
.gridPager td{border:none;color:#5c666e;}
.gridPager td a{color:#5d676f;font-size:1.000em;padding:7px 12px;}
.gridPager td span{font-size:1.000em; color:#ff6633;background:url('../../images/New Design/active-pegination.png')center center no-repeat;padding:7px 12px;}
.gridPager td a:hover{color:#ff6633;background:url('../../images/New Design/active-pegination.png') center center no-repeat;}

/*datepicker*/
.ajax__calendar .ajax__calendar_container{border:1px solid #cfcfcf !important;color:#333 !important;}
.ajax__calendar .ajax__calendar_container{z-index:2;width:230px;height:230px;}
.ajax__calendar_body,.ajax__calendar_days,.ajax__calendar_days>table{width:100% !important;}
.ajax__calendar_body,.ajax__calendar_days,.ajax__calendar_days>table{height:185px !important;}
.ajax__calendar .ajax__calendar_day{border:1px solid #d3d3d3 !important;height:22px !important;width:22px !important;padding:0 3px !important;font-size:12px;}
.ajax__calendar .ajax__calendar_dayname{font-weight:bold;}
.ajax__calendar_today div{background-color:#6face9;color:#fff;}
.ajax__calendar_body .ajax__calendar_hover div{background-color:#dce0e5 !important;color:#333 !important;}
.ajax__calendar_hover .ajax__calendar_title,.ajax__calendar_hover .ajax__calendar_footer{color:#6face9 !important;}
.ajax__calendar_other div{opacity:0.35;}
/*fixes*/
/*#MainContent_gvLeaveApprovals tr:last-child{display:none;}*/
.SuccessMsgOrbit{color:Green;position:relative;top:17px;}
.ErrorMsgOrbit{color:red;position:relative;top:17px;}
#MainContent_lblSuccess{color:Green;text-align:center;display:block; margin-top: 85px;}
#MainContent_lblError{color:red;text-align:center;display:block; margin-top: 78px;}

.LeaveApplicationBodyClass .SuccessMsgOrbit {top: 37px;}
.LeaveApplicationBodyClass #MainContent_lblSuccess	{margin-top: 0;}
.LeaveApplicationBodyClass .ErrorMsgOrbit {top: -63px;}

.displayN{display:none;}

.ManualButtonDiv .ButtonGray,.ManualButtonDiv .ButtonGray:last-child{float:none;}
.LeaveMgmtContainer .search-detailsdata .ButtonGray{float:none;}
.LeaveMgmtContainer input.ui-datepicker-trigger{top:-4px;}
#MainContent_grvSISOApproval .tableRows>td:nth-child(3) .selectBox-dropdown,#MainContent_grvSISOApproval .tableRows>td:nth-child(4) .selectBox-dropdown{width:70px !important;}
#MainContent_grvSISOApproval .tableRows>td:nth-child(3) .selectBox-dropdown:first-of-type,#MainContent_grvSISOApproval .tableRows>td:nth-child(4) .selectBox-dropdown:first-of-type{display:inline-block;}
#MainContent_grvSISOApproval .tableRows>td:nth-child(3) .selectBox-dropdown:last-of-type,#MainContent_grvSISOApproval .tableRows>td:nth-child(4) .selectBox-dropdown:last-of-type{display:inline-block;}
#MainContent_grvSISOApproval .tableRows>td:nth-child(3) .sbOptions,#MainContent_grvSISOApproval .tableRows>td:nth-child(4) .sbOptions{width:70px !important;}
#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(3) .selectBox-dropdown,#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(4) .selectBox-dropdown{width:70px !important;}
#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(3) .selectBox-dropdown:last-of-type,#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(4) .selectBox-dropdown:last-of-type{margin-top:10px;}
#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(3) .sbOptions,#MainContent_grvOutOfOfficeApproval .tableRows>td:nth-child(4) .sbOptions{width:70px;}
#MainContent_gvSISO .tableRows>td:nth-child(3) .selectBox-dropdown,#MainContent_gvSISO .tableRows>td:nth-child(4) .selectBox-dropdown{width:70px !important;}
#MainContent_gvSISO .tableRows>td:nth-child(3) .sbOptions,#MainContent_gvSISO .tableRows>td:nth-child(4) .sbOptions{width:70px !important;}
#MainContent_gvSISO .tableRows>td:nth-child(3) .selectBox-dropdown:first-of-type,#MainContent_gvSISO .tableRows>td:nth-child(4) .selectBox-dropdown:first-of-type{}
#MainContent_gvSISO .tableRows>td:nth-child(3) .selectBox-dropdown:last-of-type,#MainContent_gvSISO .tableRows>td:nth-child(4) .selectBox-dropdown:last-of-type{}
#MainContent_gvSISO .tableRows>td:nth-child(9) .selectBox-dropdown,#MainContent_gvSISO .tableRows>td:nth-child(9) .sbOptions{width:120px;/*position:absolute;*/}
#MainContent_gvSISO .tableRows>td:nth-child(9) .selectBox-dropdown{margin-top:2px;}
#MainContent_gvSISO .selectBox-dropdown{display:inline-block;}
#MainContent_gvLeave .tableRows>td:nth-child(7) .selectBox-dropdown,#MainContent_gvLeave .tableRows>td:nth-child(7) .sbOptions{width:120px !important;}
#MainContent_gvCompensatory .tableRows>td:nth-child(4) .selectBox-dropdown,#MainContent_gvCompensatory .tableRows>td:nth-child(4) .sbOptions{width:120px !important;}

#MainContent_gvLeave input.ui-datepicker-trigger,#MainContent_gvCompensatory input.ui-datepicker-trigger,#MainContent_ConfigItems1_grdConfigItem input.ui-datepicker-trigger{top:-4px;}
#MainContent_gvLeaveApprovals input.ui-datepicker-trigger{left:0px;top:-1px;}
#MainContent_gvCompensationApprovals input.ui-datepicker-trigger{left:205px;top:-30px;}
#MainContent_gvLeaveApprovals input[type="text"]{font-size:0.9em;}
.TableJqgrid a{text-decoration:underline;}
#MainContent_ShiftMaster1_grdShiftMaster .selectBox-dropdown{width:75px !important;}
#MainContent_ShiftMaster1_grdShiftMaster .sbOptions{width:75px;}
#MainContent_grdHolidayList input.ui-datepicker-trigger{top:-4px;}
#MainContent_tdGenerate{border-top:solid 1px transparent;margin-bottom:10px;}
#MainContent_cblGenerateDates{margin-top:10px;}
#MainContent_tdGenerate #lblAll{margin-left:5px;}
.selectYr .InputDiv .selectBox-dropdown{width:100px !important;}
.selectYr .InputDiv .sbOptions{width:100px;}
#MainContent_ShiftMaster1_grdShiftMaster .selectBox-dropdown{display:inline-block;}
#MainContent_tdAddLeave .rightcol .LabelDiv{width:15%;}
.GenerateD .InputDiv{width:80%;}

/*admin*/
#MainContent_gvSISO .LabelForCheckbox,#MainContent_gvCompensatory .LabelForCheckbox,#MainContent_gvLeave .LabelForCheckbox{width:22px;padding:0px;}
#MainContent_gvLeaveTransaction .tableRows>td:nth-child(5) .selectBox-dropdown,#MainContent_gvLeaveTransaction .tableRows>td:nth-child(5) .sbOptions{width:155px !important;}
#MainContent_gvLeaveTransaction .ui-datepicker-trigger{top:-4px;}
#MainContent_tdAddBulk .ui-datepicker-trigger{left:-21px;top:-3px;}
#MainContent_tdAddLeave input.ui-datepicker-trigger{left:-25px;}
##MainContent_tdAddBulk .ui-datepicker-trigger,#MainContent_grdHolidayList .ui-datepicker-trigger{top:-3px;}
.LeaveTrans .leftcol{width:45%;}

#MainContent_lnkbtnGenerateDates{text-decoration:underline;color:#5d676f;font-size:1.17em;line-height:27px;}

#MainContent_tdAddLeave .LabelDiv{width:30%;}
#MainContent_tdAddBulk .rightcol .LabelDiv{width:15%;}
/*table for orbit*/
.tableHeaders th,.tableHeaders td{vertical-align:top;border-top:solid 1px transparent;border-bottom:1px solid transparent;border-left:solid 1px transparent;background-color:#c7ced4;color:#5d676f;font-size:1em;font-weight:normal;text-align:left;padding:6px 10px;border-right:solid 2px #dcddde;/*line-height:36px;*/}
.tableHeaders th a{text-decoration:none;color:#5d676f;font-size:1em;font-weight:normal;text-align:left;}
.TableJqgrid{border-top:solid 4px #777f85;border-bottom:solid 35px #c7ced4;border-left:solid 1px transparent;border-right:solid 1px transparent;margin:0 auto;width:96%;}
.tableHeaders th:last-child{border-right:none;}
.tableRows>td{position:relative;border-left:solid 1px transparent;border-bottom:1px solid transparent;border-right:solid 2px #dcddde;color:#5c666e;font-size: 0.9em;font-weight:normal; text-align:left;vertical-align:top;padding:6px 10px 7px;}
.LeaveMgmtContainer .tableRows>td{font-size:1.17em;}
.tableRows>td a{color:#5c666e;font-size: 1em;font-weight:normal;text-align:left;}
.tableRows>td:last-child{border-right:none;}
.tableRows:nth-child(2n){background-color:#ededed;}
.tableRows:nth-child(2n+1){background-color:#ffffff;}
input[type="text"].hasDatepicker{width: 198px;}

/*tab structure*/
.tabs li{float:left; list-style-type: none; padding:10px 13px; margin-right: 2px; background-color: #afb5bd; font-size:  1.200em;letter-spacing:1px; border-top:solid 2px transparent; color:#dcdfe3; cursor: pointer;}
.tabs li:first-child{margin-left:33px;}
.tabshover:hover{color:#ffffff;}
.tabs .colored-border{border-top: solid 2px #ed8e4e; background-color: #dcdfe3; color:#5c666e;}
.tabs a{color:#5c666e;text-decoration:none;}
.passport-details .tabs .colored-border{border-top: solid 2px #9e6fe3; background-color: #dcdfe3; color:#5c666e;}
.add-detailsdata, .search-detailsdata, .holiday-listdata{margin:44px 33px 33px 33px; background-color: #dcdfe3; padding: 22px 0 22px 29px;}
.search-detailsdata, .holiday-listdata{display: none;}

/*things to overwrite common.css*/
input.ui-datepicker-trigger{left:-13px;top:-3px;}

/*fix for radio button*/
.RadioButtonList label{padding:4px 40px 7px 50px;font-size:1.170em; color: #5d676f; }
.RadioButtonList input[type="radio"] +label{background: url('../../Images/New Design/radio-button-off.png') no-repeat;}
.RadioButtonList input[type="radio"]:checked + label{background: url('../../Images/New Design/radio-button-on.png') 0px 1px no-repeat;}

/*fix for check box*/
.CheckBoxList label{padding:0px 50px;font-size:1.170em; color: #5d676f; }
.CheckBoxList input[type="checkbox"] +label{background: url('../../Images/New Design/checkbox-off.png') no-repeat;}
.CheckBoxList input[type="checkbox"]:checked + label{background: url('../../Images/New Design/checkbox-on.png') no-repeat;}

/*floating tabs above*/
.WrapTabs{width: 100%;position: relative;top: -53px;}

/* manage process namrata */

.mainContentPad{padding:0 30px;}
.actionHeading{font-size: 16px;color: #5d676f;padding-bottom:27px; line-height:16px; margin:0;}
.buttonWrap{padding-bottom:50px;}
.ButtonGray{float: left; margin-right: 11px;}
.ButtonGray:last-child{float: left; margin-right: 0;}
.nav.sub-menu-colored a{text-transform: capitalize;}
.fieldPad label{line-height: 34px; font-size: 16px; color: #5d676f;}
.fieldPad input{height: 34px; line-height: 34px; border: solid 1px #cfcfcf; width: 250px;}
.linkA{ font-size: 16px; color: #5d676f;float: left; padding-top: 6px;}
.fLeft{float:left;}
.generatedDates{clear: left; padding-left:17%;}
.generatedDates input[type="checkbox"]{margin-left:3px; float: left;}
.datePad{float: left; width:8%}
.date{float: left; }

/*Admin Orbit Rima*/
.AdminApproval .leftcol{width:33%;}
.AdminApproval .leftcol .LabelDiv{width:44%;}
.AdminApproval .leftcol .InputDiv{width:56%;}
.AdminApproval .InputDiv .selectBox-dropdown{width:170px !important;}
.AdminApproval .InputDiv .sbOptions{width:170px;}
.AdminApproval .formrow{margin:6px 0px 9px 30px;}
.Admin .leave-note{margin-top:5px;}

.ButtonGray{float:left;}
.mrgnR8{margin-right:8px;}

/*Bulk rima*/
.Bulk-tabs,.admin-leave-tabs,.master-tabs{margin-top: -47px;}
.add-detailsdata, .search-detailsdata, .holiday-listdata,.tab-panel4,.tab-panel5,.tab-panel6{clear:left;}
.tab-panel4,.tab-panel5,.tab-panel6{margin:52px 33px 33px 33px; background-color: #dcdfe3; padding: 22px 0 22px 29px;}
.gendates { font-size: 14px; margin-top:5px; margin-left: 1px !important;}

/*masters rima*/
.MastersContainer .OrbitNote{width:100%;margin:0px auto 26px;}
.MastersContainer .add-detailsdata .formrow,.MastersContainer .tab-panel4 .formrow{margin-bottom:0px;}

/*new dropdown*/
/*.ManualFormDiv .selectBox-dropdown{display:block !important; min-width: 90px;}*/
/*.AttendanceContainer .selectBox-dropdown{display: none;}*/
#MainContent_MonthlyLeaveUpload1_grdMonthlyLeaveUpload .selectBox-dropdown{width: 150px !important;}
#MainContent_grdMonthlyLeaveUpload .selectBox-dropdown{width: 150px !important;}
.ajax__calendar_container { height: 235px;}
.ajax__calendar_months { width: 230px !important;}

/*orbit spacing issue*/
.Admin .FormContainerBox{margin-top: -1px !important;}
.CompOff #MainContent_lblError{margin-top: -87px !important;}
/*fixes*/

@media only screen and (max-width: 1690px)
{
    #MainContent_tdAddBulk .leftcol{width:49%;}
    #MainContent_tdAddBulk .rightcol{width:51%;}
    #MainContent_tdAddLeave .LabelDiv{width:40%;}
    #MainContent_tdAddLeave .InputDiv{width:60%;}
    #MainContent_tdAddLeave .leftcol{width:50%;}
    #MainContent_tdAddLeave .rightcol{width:40%;}
    #MainContent_AddCompOffDetails .leftcol{width:50%;}
}

@media only screen and (max-width: 1690px)
{
        #MainContent_gvSISO .tableRows>td:nth-child(9) .selectBox-dropdown{margin-top:-12px;}
    }