#page{background:url('../../Images/New Design/employee-bg.png') no-repeat;}
body{font-family: arial, sans-serif;}

.RMGContainer .MainHeading{border-color: #173f78;}
.RMGContainer .sub-menu-colored{background-color: #173f78;}
.RMGContainer .sub-menu-colored a.selected{background-color: #0a2352;}

#Historydialog .leftcol{width:40%;}
#Historydialog .LabelDiv {width:39%;}
#Historydialog .InputDiv {width:61%;}
#Historydialog .InputDiv .selectBox-dropdown{width:190px;}
#Historydialog .InputDiv .sbOptions{width:190px;}
#Historydialog .tablestyle3{width:100%;}
.searchempL .tablestyle3 {margin: 0!important;}

@media only screen and (max-width: 1690px)
{
    .SkillBody .leftcol,.SkillBody .rightcol{width:50%;}
}