#page{background:url('../../Images/New Design/hr-bg.png') no-repeat;}
body{font-family: arial, sans-serif;}

.SettingconfigContainer .MainHeading{border-color: #c94542;}
.SettingconfigContainer .sub-menu-colored{background-color: #c94542;}
.SettingconfigContainer .sub-menu-colored a.selected{background-color: #b32a27;}

/*separation config styling*/
.sepconfig-reasonMainbody h3{ color:#5c666e; margin: 29px 0 32px 45px; font-weight: normal; font-size: 2.125em; float:left;}
.sepconfig-reasonMainbody .Hrmain{margin:0 0 0 34px;}
.sepconfig-reasonMainbody .fill-dtls button.ButtonGray { margin-left: -18px;}
.reason-part2 {margin:42px 0 0 34px;}
.reason-part2 .saveR{background:url('../../Images/New Design/save.png') #8e98a0 7px 9px no-repeat; padding: 10px 20px 10px 38px;}
.reason-part2 .editR{background:url('../../Images/New Design/edit.png') #8e98a0 11px 9px no-repeat; padding: 10px 20px 10px 47px;}
.reason-part2 .PerformanceHinderTable{margin-top: 7px; border-bottom: none; width: 98%;}
.sepconfig-reasonMainbody .reason-part2 .PerformanceHinderTable label.LabelForCheckbox{width: 22px; left:16px; top: 7px;}
.sepconfig-reasonMainbody .reason-part2 .PerformanceHinderTable input[type=text]{height: 28px; border: solid 1px #cfcfcf;}
.sepconfig-reasonMainbody .reason-part2 .PerformanceHinderTable .configbottomcount{height: 71px; background-color: #a6b4bf; padding: 20px 18px;}
.sepconfig-reasonMainbody .reason-part2 .PerformanceHinderTable .configbottomcount  td{padding-bottom: 15px; padding-top: 20px;}
.sepconfig-reasonMainbody .reason-part2 .PerformanceHinderTable .configbottomcount span{font-weight:bold; color: #ffffff; font-size: 1.125em;}

/*separation config checklist*/
.sep-check .formrow .leftcol{width: 27%;}
.sep-check .formrow .leftcol .LabelDiv{width: 23%;}
.sep-check .formrow .leftcol .InputDiv .selectBox-dropdown{width: 200px; margin-left: 0;}
.sep-check .formrow .leftcol .InputDiv .selectBox-dropdown .sbOptions{width: 200px;}
.sep-check .formrow .rightcol{width: 35%; margin-top: -34px;}
.sep-check .formrow .rightcol .LabelDiv{width: 28%;}
#SeparationStageApproverDialog .popup-head{color: #5c666e;margin: 9px 13px 23px 0px; font-weight: normal; font-size: 1.600em; float: left;}
#SeparationStageApproverDialog .popup-head1 {margin: 20px 6px 18px 0px; color: #5c666e; font-weight: normal; font-size: 1.600em;}
#SeparationStageApproverDialog .TableJqgrid {border-bottom:none;}
#SeparationStageApproverDialog .tablestyle3 {width:100%;}

/*stakeholders*/
.sepconfig-reasonMainbody .stakepopup .ButtonGray{background:url('../../Images/New Design/tick.png') #8e98a0 8px 13px no-repeat; padding: 10px 35px;}

/*stakeholders pop up*/
.popuphead-stake .formrow {margin-bottom: 7px;}
.popuphead-stake .formrow .leftcol{width:40%; float: left;}
.popuphead-stake .formrow .rightcol{width:40%; float: right; margin-right: -166px;}
.topstakebuttons{float: left; margin: 22px 6px 7px 0;}
#SelectStakeHolderDialog{overflow-x:hidden;}
#SelectStakeHolderDialog .stakeholderT .tableHeaders{padding-right: 20px; text-align: center; font-size: 1.000em;}
#SelectStakeHolderDialog .stakeholderT .configbottomcount td, #SeparationStageApproverDialog .configbottomcount td{background-color: #a6b4bf;}
#SelectStakeHolderDialog .TableJqgrid{border-bottom: none;}
#SelectStakeHolderDialog .stakeholderT label.LabelForCheckbox{width: 22px; left:16px; top: 7px;}

/*configuration*/
.iframe.webmaster-pad{background:none;border:solid 1px transparent;}

/*.stakeholderT .tableRows td{padding-left: 13px;}*/

/*appraisal styling*/
.sepappraisal .LabelDiv{width: 15%;}
.sepappraisal .LabelDiv label{margin-top: 0;}
.formPad.FormContainerBox {margin-top:0;}

/*appraisal*/
.ProjectIndexbody .SmallHead{font-size: 1.300em; margin: 29px auto 19px; color: #7e868c; padding-left: 36px;font-weight:normal;}
/*media queries*/
@media only screen and (max-width: 1580px) {
    .sep-check .formrow .rightcol{width: 50%;}
    .sep-check .formrow .leftcol{width: 36%;}
    .sep-check .formrow .rightcol .LabelDiv{width: 34%;}
}
#frmaddParameter .FormContainerBox{margin-top:0;}
#applicableRoles .ButtonContainer2{margin-top:0;}

@media only screen and (max-width: 1380px) {
    #frmaddRating .leftcol{width: 43%;}
}