#page{background:url('../../Images/New Design/admin-bg.png') no-repeat;}
body{font-family: arial, sans-serif;}
.TravelContainer .MainHeading{border-color: #e3bd42;}
.TravelContainer .sub-menu-colored{background-color: #e3bd42;}
.TravelContainer .sub-menu-colored a.selected{background-color: #d19c1f;}

.TravelMainbody .Travel .leftcol{width: 49%;}
.TravelMainbody .Travel .rightcol{width: 49%;}
.TravelMainbody .Travel .leftcol .LabelDiv{width: 34%;}
.TravelMainbody .Travel .leftcol .InputDiv{width: 60%;}
.NoteTravel{padding-left:36px;margin-bottom:0px;font-size: 1.170em;color: #5d676f;}
.SmallHeadW{font-size: 1.300em; margin: 16px auto -14px; color: #7e868c; padding-left: 36px;font-weight:normal;}

/*accomodation-travel req.*/
.SmallHead{font-size: 1.300em; margin: 13px auto 19px; color: #7e868c; padding-left: 36px; font-weight: normal;}
.jqgrow .UploadButtons input.ButtonGray{font-size:1em;width:auto !important;padding:3px 14px;border:none;height:auto;}
.UploadButtons label{display:block;}

/*Extension status and save submit*/
.Extension .LabelDiv, .Savesub .LabelDiv{float: left;width: 8%;}
.Extension .InputDiv, .Savesub .InputDiv{float: left;width: 17%;}
.Extension .fill-dtls, .Savesub .fill-dtls{padding-bottom:8px;}
.Extension .fill-dtls button.ButtonGray, .Savesub .fill-dtls button.ButtonGray{margin-left: -95px;}
.Extension .selectBox-dropdown, .Savesub .selectBox-dropdown{width:250px; float:left; margin-left: -79px;height: 28px;}
/*.Extension .sbOptions, .Savesub .sbOptions{float:left; margin-left: -79px;}*/
.Extension .sbOptions, .Savesub .sbOptions{width:250px;}

/*Helpdesk Styling*/
.HelpdeskContainer .MainHeading{border-color: #e3bd42;}
.HelpdeskContainer .sub-menu-colored{background-color: #e3bd42;}
.HelpdeskContainer .sub-menu-colored a.selected{background-color: #d19c1f;}

.HelpdeskMainbody .ButtonGray{margin: 24px 0 20px 65px;}
.HelpdeskMainbody .fill-dtls .ButtonGray:last-child{margin-left:11px;}
.HelpdeskMainbody .Helpdesk .leftcol{width:40%;}
.HelpdeskMainbody .Helpdesk .rightcol{width:40%;}
.HelpdeskMainbody .Helpdesk .leftcol .LabelDiv{width:34%;}
.HelpdeskMainbody .Helpdesk .rightcol .LabelDiv{width:34%;}
.InputDiv input[type="text"].txtfieldlimit{width:35px;}
#MainContent_lblCategorySummary{line-height: 16px;  font-size: 0.850em; color: #5d676f; margin-bottom: 0; display: block !important;}
span.FormNote{display:block;}
#uploadFileForIssue .BrowseSpacingFix{max-height:35px;}
.HelpdeskMainbody input.ui-datepicker-trigger{top:-3px;}
#txtDescCount{position:relative;top:-5px;}
#MainContent_txtDescCount{position:relative;top:-3px;}

/*issue status*/
.IssueStatusTable{margin: -47px auto 0px;}
.InputDiv label{line-height: 27px;font-size: 16px; color: #5d676f; }
.IssueStatus .leftcol{width:55%;}
.IssueStatus .leftcol .LabelDiv{width:25%;}
.IssueStatus .leftcol .InputDiv{width:75%;}
.IssueFixTable{margin: 20px auto 0px;}
.IssueStatusNote{font-size: 16px;color: #5d676f; }
.IssueStatComTextarea{height: 100px;border:solid 1px #cfcfcf;width:550px;}

/*travel print back*/
.TravelContainer .TravelMainbody .expenseG{text-decoration: underline; color: #89b9e0; margin: 16px 40px;  font-size: 1.400em; padding-bottom: 10px;}
.TravelContainer .TravelMainbody .Expensewrap{background:url('../../Images/New Design/back.png') 0px 1px no-repeat;background-color: none;color: #5c666e; font-size: 1.400em; border: none; padding: 12px 0px 12px 55px; cursor: pointer; letter-spacing: 0.05em; text-decoration: none; margin-top:7px;}
.TravelContainer .TravelMainbody .Expensewrap:hover{background:url('../../Images/New Design/back-hover.png')  0px 1px no-repeat;}
/*travel spaces fix*/
.SmallHeadTravel{font-size: 1.300em; margin: 13px auto 9px; color: #7e868c; padding-left: 36px; font-weight: normal;}

/*grid*/
.HelpdeskContainer .TableJqgrid{border-bottom:none;}
.HelpdeskContainer .tableHeaders{border-bottom:solid 1px transparent;}
.gridPager{height:35px;background-color:#C7CED4;}
.gridPager td{border:none;color:#5c666e;}
.gridPager td a{color:#5d676f;font-size:1.000em;padding:7px 12px;}
.gridPager td span{font-size:1.000em; color:#ff6633;background:url('../../images/New Design/active-pegination.png') no-repeat;padding:7px 12px;}
.gridPager td a:hover{color:#ff6633;background:url('../../images/New Design/active-pegination.png') center center no-repeat;}

/*helpdesk admin*/
.TwoFilters .leftcol,.TwoFilters .rightcol{width:44%;min-height:120px;}
.OrDiv{width:8%;float:left;text-align:center;margin-top:88px;font-size: 1.550em;color:#5d676f;font-weight:bold;}
.ButtonContainer4 {margin:15px auto 6px;width:96%;}
.ButtonContainer4 .leftcol{width:54%;}
.ButtonContainer4 .rightcol{}
.Authorizationerror{display:block;text-align:center;color:#dd4242;margin-top:50px;font-size:1.3em;}
/*tabs*/
.tabs .helpdesk-tabs .colored-border{border-top:2px solid #e3bd42;}
.helpdesk-tabs li{padding:0px;}
.helpdesk-tabs li a{padding:13px;line-height:42px;}

/*memberwise*/
.MemberWise .ButtonContainer2,.MemberWise .InnerContainer{width:100%;}
#MainContent_pnlIssueDetails .FormContainerBox{margin-top:10px;}
/*Department wise*/
.DepartmentWise .ButtonContainer2,.DepartmentWise .InnerContainer{width:100%;}

/*resolution time*/
.ResolutionTime .MonthYear .selectBox-dropdown{display:inline-block;width:122px;}
.ResolutionTime .MonthYear .sbOptions{width:122px;}
.ResolutionTime .ButtonContainer2,.ResolutionTime .InnerContainer{width:100%;}
.ColoredDD .sbOptions li:nth-child(2){background-color:#66cc00;}
.ColoredDD .sbOptions li:nth-child(3){background-color:#ffcc33;}
.ColoredDD .sbOptions li:nth-child(4){background-color:#ff3300;}

/*IssueStatusReport*/
.IssueStatusReport .MonthYear .selectBox-dropdown{display:inline-block;width:122px !important;}
.IssueStatusReport .MonthYear .sbOptions{width:122px;}

/*summary report*/
.SummaryReport input.ui-datepicker-trigger{left:-17px;}

/*SLA Report*/
.SLAReport .ButtonContainer2{width:100%;}
.SLAReport input.ui-datepicker-trigger{left:-17px;}

/*user master*/
.UserMaster .ButtonContainer2{width:100%;margin-top:0px;}

.UserMasterView .mainHead{margin-top:10px;}

.EditUserMaster {}
.UserMasterEditBox{width:35%;float:left;margin-bottom:15px;}
.UserMasterEditBox .LabelForCheckbox{margin-left:10px;}
.UserMasterEditBox:nth-child(2n+1){margin-right:10%;}
.UserMasterEditBox .SmallHead{padding-left:0px;margin-bottom:13px;font-size:1.1em;float:left;margin-top:7px;}
.UserMasterEditBox .FormContainerBox{width:96%;margin-top:0px;padding-left:4%;padding-bottom:20px;}
.UserMasterEditBox .LabelDiv{width:23%;}
.UserMasterEditBox .formrow{margin-bottom:20px;}
.ListBoxContainer{float:left;}
.ListBoxContainer .selectBox-dropdown{border:1px solid #cfcfcf;color:#5d676f;font-size:1.1em;}
.ShiftBtnContainer{float:left;width:19%;text-align:center;}
.ShiftBtnContainer input[type="submit"].prev{cursor:pointer;background:url('../../Images/New Design/prev.png') no-repeat;display:inline-block;width:30px;height:30px;border:none;}
.ShiftBtnContainer input[type="submit"].next{cursor:pointer;background:url('../../Images/New Design/next.png') no-repeat;display:inline-block;width:30px;height:30px;border:none;}
/*category master*/
.CategoryMaster .ButtonContainer2{width:100%;margin-top:0px;}
.CategoryMaster .suffix{margin-left:0;}

/*severity master*/
.SeverityMaster .ButtonContainer2{width:100%;margin-top:0px;}

/*resolution time master*/
.ResolutionTimeMaster .ButtonContainer2{width:100%;margin-top:0px;}

/*view selected issue*/
.ViewSelected .leftcol,.ViewSelected .rightcol{width:37%;}
.ViewSelected .InputDiv span{line-height: 30px;font-size: 1.170em; color: #5d676f;font-weight:bold; }
.ViewSelected .InputDiv>a,#MainContent_pnlFileName a{line-height: 30px;font-size: 1.170em; color: #5d676f;font-weight:bold;text-decoration:underline;}

.error{color:#dd4242;display:block;text-align:center;margin-top:15px;font-size:1.1em;}
.success{color:#dd4242;display:block;text-align:center;color:Green;font-size:1.1em;}
/*travel issue*/
.travelmrgn .selectBox-dropdown{width: 252px;display: inline-block;visibility: visible;position: relative;top: -2px !important;}

@media only screen and (max-width: 1580px) {
    .TravelMainbody .Travel .leftcol{width: 49%;}
    .TravelMainbody .Travel .leftcol .LabelDiv{width: 38%;}
    .TravelMainbody .Travel .rightcol .LabelDiv{width: 48%;}
    .TravelMainbody .Travel .rightcol .InputDiv{width: 49%;}

    .Extension .selectBox-dropdown, .Savesub .selectBox-dropdown{width:174px !important;}
	.Extension .sbOptions, .Savesub .sbOptions{width:174px;}
	.Extension .LabelDiv, .Savesub .LabelDiv{width: 11%;}
	.Extension .InputDiv input[type="text"], .Savesub .InputDiv input[type="text"]{width:154px;}
	.Extension .InputDiv, .Savesub .InputDiv{float: left;width: 17%;}
	.Extension .fill-dtls button.ButtonGray, .Savesub .fill-dtls button.ButtonGray{margin-left: -71px;}
}

@media only screen and (max-width: 1690px) {
    .Extension .fill-dtls button.ButtonGray, .Savesub .fill-dtls button.ButtonGray {margin-left: -68px;}
    .Extension .InputDiv, .Savesub .InputDiv { width: 18%;}
     /*travel main page*/
    .TravelMainbody .Travel .leftcol .LabelDiv{width: 34%;}
    .TravelMainbody .Travel .rightcol .LabelDiv{width: 27%;}
    .HelpdeskMainbody .Helpdesk .leftcol{width:50%;}
    .HelpdeskMainbody .Helpdesk .rightcol{width:50%;}
    .HelpdeskMainbody .Helpdesk .leftcol .LabelDiv{width:40%;}
    .HelpdeskMainbody .Helpdesk .rightcol .LabelDiv{width:40%;}
    .HelpdeskMainbody .Helpdesk .InputDiv{width:60%;}

    /*helpdesk admin reports*/
    .MemberWise .leftcol,.MemberWise .rightcol{width:50%;}
    .DepartmentWise .leftcol,.DepartmentWise .rightcol{width:50%;}
    .ResolutionTime .leftcol,.ResolutionTime .rightcol{width:50%;}
    .IssueStatusReport .leftcol,.IssueStatusReport .rightcol{width:50%;}
    .CategoryMaster .leftcol,.CategoryMaster .rightcol{width:50%;}
    .SeverityMaster .leftcol,.CategoryMaster .rightcol{width:50%;}
    .ResolutionTimeMaster .leftcol,.CategoryMaster .rightcol{width:50%;}
    .ViewSelected .leftcol,.ViewSelected .rightcol{width:50%;}
    .SLAReport .leftcol,.SLAReport .rightcol{width:50%;}
    .summary_report .leftcol,.summary_report .rightcol{width:50%;}

    /*user master edit*/
    .UserMasterEditBox{width:48%;}
    .UserMasterEditBox:nth-child(2n+1){margin-right:4%;}
    .ShiftBtnContainer{width:13%;}
}

@media only screen and (max-width: 1450px) {
     .Extension .fill-dtls button.ButtonGray, .Savesub .fill-dtls button.ButtonGray {margin-left: -75px;}
     .Extension .InputDiv, .Savesub .InputDiv { width: 16%;}
     /*travel main page*/
     .TravelMainbody .Travel .leftcol .LabelDiv{width: 51%;}
     .TravelMainbody .Travel .rightcol .LabelDiv{width: 51%;}
     .TravelMainbody .Travel .leftcol .InputDiv{width: 49%;}
}