font { font-weight:normal; font-size:12px}
a:link
{
	color: #000000;
	text-decoration:none;
}

a:visited {
	color: #000000;
	text-decoration:none;
}

a:hover
{
	color: red;
	text-decoration:none;
}

.trow {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.links {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.HeaderLink A:link
{
	font-weight:normal;
	font-size:12px;
	color: #ffffff;
	font-family: Verdana;
	text-decoration: none;
}

.HeaderLink A:visited { color: #ffffff; text-decoration:none; font-weight: normal;
	font-size:12px; }

.HeaderLink A:hover   {
	color: red;
	text-decoration:underline;
	font-weight: normal;
	font-size:12px;
}

.PageLink A:link
{
	font-weight: bold;
	font-size: x-small;
	color:Red;
	font-family: Verdana;
	text-decoration: none;
}

.PageLink A:visited
{
	font-weight: bold;
	font-size: x-small;
	color:Red;
	text-decoration: none;
}

.PageLink A:hover   {
	color:Red;
	text-decoration:underline;
	font-weight: bold;
	font-size:x-small;
}

.arrowA {
	background: #FF9900;
	border: 1px solid #000000;
	margin-top: 1px;
	margin-right: 4px;
	margin-bottom: 1px;
}

body {
	margin: auto;
	text-align: left;
	padding: 0px;
	font: 11px "lucida Grande", Verdana, Arial, sans-serif;
	background: #63305E;
	color: #381301;
}

.border1 {
	border: 1px solid #A6A58D;
}

/*<group=boxes>*/

.boxA {
	border: 1px solid #A6A58D;
	padding: 4px;
	background: url(../img/home/gridG.gif);
}

.boxB {
	padding: 4px;
	border: 1px solid #BFD7E1;
	background: #F5FBFD;
}

.boxC
{
	border-top-width: 1px;
	padding-left: 0px;
	font-weight: normal;
	border-left-width: 1px;
	font-size: 12px;
	border-left-color: #999882;
	background-image: none;
	border-bottom-width: 1px;
	margin-bottom: 0px;
	border-bottom-color: #999882;
	padding-bottom: 0px;
	text-transform: uppercase;
	color: #ffffff;
	border-top-color: #999882;
	padding-top: 0px;
	font-style: normal;
	font-family: Verdana, Arial, 'Times New Roman';
	letter-spacing: 0.2em;
	background-color: #0aa180;
	text-align: center;
	border-right-width: 1px;
	text-decoration: none;
	border-right-color: #999882;
}

.boxD
{
	border-right: #999882 1px solid;
	border-top: #999882 1px solid;
	padding-left: 0px;
	font-weight: bold;
	font-size: 12px;
	background: #017b9c;
	margin-bottom: 1px;
	padding-bottom: 0px;
	text-transform: uppercase;
	border-left: #999882 1px solid;
	color: #ffffff;
	padding-top: 0px;
	border-bottom: #999882 1px solid;
	letter-spacing: 0.2em;
	text-align: center;
}

.boxE {
	font-weight: bold;
	color: #FF9900;
	margin-bottom: 3px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
	border: 1px solid #999999;
	background: #000000;
	text-align: center;
}

.boxF {
	background: #D1D0BC;
	width: 242px;
	border-top: 1px solid #A6A58D;
	border-bottom: 1px solid #A6A58D;
	border-right: 1px solid #A6A58D;
	padding: 10px;
}

.boxF a:hover {
color: #0000FF;
}
.boxF2 {
	background: #D1D0BC;
	padding-top: 10px;
	padding-bottom: 15px;
	border: 1px solid #A6A58D;
}

.boxG {
	padding: 10px;
}

.boxH {
	color: #F4F4EC;
	background: #3D161A;
	padding: 10px;
}

.boxJ {
	font-weight: bold;
	padding: 4px;
	margin-bottom: 4px;
	border-top: 1px solid #63305E;
	border-right: 1px solid #63305E;
	border-bottom: 1px solid #63305E;
	border-left: 24px solid #63305E;
	font-size: 12px;
	background: url(../img/home/gridG.gif);
}

.boxK {
	border: 1px solid #A6A58D;
	padding: 8px;
	background: #FFFFFF;
}
.boxL {
	font-weight: bold;
	color: #FF9900;
	margin-bottom: 4px;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	border: 1px solid #999999;
	background: #000000;
	text-align: center;
}

.boxM {
	padding: 8px;
	background: #D1D0BC;
	border-top: 1px solid #FFFFFF;
}
.boxM h3 {
	border-bottom: 1px solid #A6A58D;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

.boxReg {
	color:#FFF;
	font-size: 11px;
	padding: 30px;
}
.boxRegBorder {
	background-color:#63305E;
	border-top: 5px solid #FF9900;
	border-bottom: 3px solid #000000;
}
.boxReg-BG {
	border-left: 1px dotted #CCCCCC;
	background: url(../img/home/bgfadeD.gif) no-repeat fixed bottom;
	width: 262px;
}
.boxReg h3 {
	font: bold 16px/20px "Trebuchet MS", "lucida Grande", Verdana, sans-serif;
 }
.boxReg h4 {
	font: bold 14px "Trebuchet MS", "lucida Grande", Verdana, sans-serif;
 }
.boxReg blockquote {
	margin-right: 0px;
	margin-left: 0px;
	padding: 9px 18px;
 }
.boxReg a:link {
  color:#FFFFFF;
 }
.boxReg a:active {
  color:#FFFFFF;
 }
.boxReg a:visited {
  color:#FFFFFF;
 }
.boxReg a:hover {
  color:#FF9900;
 }

/*</group>*/

.col0 {
	padding: 10px;
	background: #F4F4EC;
	border: 1px solid #A6A58D;
}

.col1
{
	border-right: #a6a58d 1px solid;
	padding-right: 1px;
	border-top: #a6a58d 1px solid;
	padding-left: 1px;
	background: #ffffff;
	padding-bottom: 1px;
	margin: 1px;
	border-left: #a6a58d 1px solid;
	padding-top: 1px;
	border-bottom: #a6a58d 1px solid;
}

.col2 {
	background: #D1D0BC;
	border-top: 1px solid #A6A58D;
	border-right: 1px solid #A6A58D;
	border-bottom: 1px solid #A6A58D;
	width: 240px;
}

.cols3-1 {
	background: #F2F2F3;
	width: 140px;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #888;
	padding: 0px;
}
.col1-nopad {
	border: 1px solid #A6A58D;
	background: #F4F4EC;
}

.contentheader {padding-top: 18px;background-color: #FFFFFF;}

.contentcenter {padding-bottom: 18px;background-color: #FFFFFF;}

.contentmain {
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #FFFFFF;
}

/*<group=dots>*/

.dots-horz {
	background: url(../img/home/dots-horzwhite9h.gif);
	height: 5px;
}

.dots-horz2 {
	background: url(../img/home/dots-horz20h.gif);
	height: 19px;
}

.dots-horz3 {
	background: url(../img/home/dots-horz29h.gif);
	height: 29px;
}

.dots-horz13h {
	background: url(../img/home/dots-horz13.gif);
	height: 13px;
}

.dotrule20w {
	background: url(../img/home/dots-vertwhite-20w.gif);
}

.dotrule40w {
	background: url(../img/home/dots-vertwhite-40w.gif);
}

/*</group>*/

.emphB {
	font-weight: bold;
	color: #F59300;
}

.emphC {
	font-weight: bold;
	color: #63305E;
	font-size: 12px;
}

.excl {
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: #D1D0BC;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
	border: 1px solid #999882;
}

.f1 {
	font-size: 10px;
}

.f1gray {
	font-size: 10px;
	color: #666666;
}

.featured {
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 4px;
	border-bottom: 1px solid #999882;
	border-left: 1px solid #999882;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: url(../img/home/bgfadeA.jpg);
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
}

.featuredB {
	font-weight: bold;
	color: #FFF;
	margin-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: url(../img/home/bgfadeB.jpg);
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	margin-top: 0px;
	padding: 0px 6px 1px;
}

.featuredC {
	color: #CCCCCC;
	background: url(../img/estates/hed242bg.gif) no-repeat;
	padding: 2px 6px 5px;
	font: normal 11pt "Times New Roman", Times, serif;
}

.footerblock {
	padding-top: 6px;
	padding-bottom: 15px;
	margin: 0px;
	width: 760px;
}

.footerinfo {
	color: #FFFFFF;
	font-size: 10px;
}

.formwidthA {
	width: 160px;
}

.formwidthB {
	width: 60px;
}

h1
{
	font-weight: bolder;
	font-size: 25pt;
	margin-bottom: 0px;
	color: #01809c;
	font-family: Batang;
	text-align: left;
}

h3 {
	font-size: 13px;
	margin: 0px;
}

h4 {
	font-size: 12px;
	margin: 0px;
}

.hed {
	padding-top: 16px;
	text-align: left;
}

.hedA {
	text-transform: uppercase;
	color: #552E32;
	letter-spacing: 0.2em;
	margin-bottom: 6px;
	border-bottom: 1px solid #999882;
	font-weight: bold;
}

input, select {
font: 11px "Lucida Grande", Verdana, sans-serif;
}

.jumpmenu {
	width: 160px;
	font-size: 11px;
}

.col1 li {
	list-style: url(../img/home/arrowC.gif);
	padding-bottom: .3em;
}

/* list-PDF icon */

.list-pdf ul {
	list-style: none;
	margin: 0 0 .5em 0;
	padding-left: 0px;
	}

.list-pdf li {
	margin: 0 0 0.2em;
	padding: 0 0 4px 14px;
 	background: url(../img/home/icon-pdf.gif) no-repeat 0 2px;
	}

/* end list-narrow */

.middotA {
	background: #E7E7E9;
	border: 1px solid #CCCCCC;
	margin-right: 3px;
	margin-left: 3px;
}
#navtop {
	padding: 0;
	background: #63305E;
	border-bottom:1px solid #63305E;
	border-top: 1px solid #222;
}
.navrule {
	background: url(../img/home/dots-vert15black.gif);
	width: 15px;
	padding-right: 7px;
	padding-left: 7px;
}

.navrule2 {
	background: url(../img/home/dots-vertwhite.gif);
	width: 15px;
	padding-right: 7px;
	padding-left: 7px;
}
.navsub1 {
	font-size: 15px;
	margin-bottom: 6px;
	padding-top: 2px;
	font-weight : bold;
	font-family:Palatino Linotype;
	color:Blue;
	display:block;
}

.newshed {
	font-size: 14px;
	color: #D1D0BC;
	letter-spacing: 0.2em;
}

.newshedB
{
	font-weight : bold;
	font-size: 12px;
	color: #737261;
	line-height: 1.4em;
	padding-bottom: 1em;
}
.newshedC
{
	font-size: 12px;
	color: Black;
	padding-bottom: 1em;
}

p {
	margin-top: 0px;
}

.photoA {
	border: 1px solid #FFFFFF;
}

.photoB {
	border: 1px solid #A6A58D;
	margin-top: 4px;
	margin-bottom: 4px;
}

.photoC {
	border: 1px solid #FFFFFF;
}

.photoD {
	border: 1px solid #333;
	margin-bottom: 4px;
	margin-top: 0px;
}
.photo-left1 {
	float: left;
	margin-right: 10px;
	border: 1px solid #A6A58D;
}

.resultsnumbers {
	padding-bottom: 4px;
}

.row1A {
	font-weight: bold;
	color: #3D161A;
	padding: 2px 15px 2px 2px;
}

.row1B {
	padding-bottom: 2px;
	padding-top: 2px;
}

.row2A {
	background: #F4F4EC;
	font-weight: bold;
	padding: 2px 15px 2px 2px;
}
.row2B {
	padding-bottom: 2px;
	background: #F4F4EC;
	padding-top: 2px;
}

.row3A
{
	border-right: #999882 1px solid;
	border-top: #999882 1px solid;
	padding-left: 0px;
	font-weight: bold;
	font-size: 12px;
	background: #007b9c;
	margin-bottom: 1px;
	padding-bottom: 0px;
	text-transform: uppercase;
	border-left: #999882 1px solid;
	color: #ffffff;
	padding-top: 0px;
	border-bottom: #999882 1px solid;
	letter-spacing: 0.2em;
	text-align: center;
}

.row3B {
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: 1px solid #CCCBAE;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-left: 4px;
}
.Sprev
{
	font-weight: bold;
	background: #ff9900;
	margin: 0px 1px;
	font-family: 'Palatino Linotype';
}
.Spage {
	background: #FFFFFF;
	border: 1px solid #999999;
	margin: 0px 1px;
}
.SpageOn {
	background: #FFCC00;
	border: 1px solid #000000;
	margin: 0px 1px;
}
th {
	color: #FFFFFF;
	background: #D1D0BC;
	text-align: left;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
}
.col2of2B {
	background: #FF9900;
	width: 240px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px dotted #FFFFFF;
}
.boxN {
	margin-bottom: 3px;
	background: url(../img/home/bgfadeC.gif);
	padding: 8px;
	border-top: 1px solid #431B3F;
	border-right: 1px solid #763F70;
	border-bottom: 1px solid #763F70;
	border-left: 1px solid #431B3F;
	font: 14px "Trebuchet MS", "lucida Grande", Verdana, sans-serif;
}
.MyStyle
{
	background-color : Black;
}

.GridHeader
{
	font-weight:normal;
	font-size: 12px;
	color: white;
	font-family: Verdana;
	background-color: #00869c;
	text-align: center;
}

.GridHeaderL
{
	font-weight: normal;
	font-size: 12px;
	color: white;
	font-family: Verdana;
	background-color: #00869c;
	text-align: Left;
}
.PageNumber
{
	font-weight: bold;
	font-size: 11px;
	color: #00869c;
	font-family: Verdana;
	text-align: right;
}

.GridItem
{
	font-weight: normal;
	font-size: 11px;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial, 'Times New Roman';
	text-decoration: none;
}

.dgalternatingitem
{
	font-size: 12px;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial, 'Times New Roman';
	text-decoration: none;
}

.menuButton
{
	font-size: 11px;
	color: #000000;
	font-style: normal;
	font-family: Verdana;
	text-decoration: none;
	font-size : xx-small ;
}

.bgmenu {
	BACKGROUND-POSITION: left bottom; FONT-SIZE: 11px; BACKGROUND-REPEAT: no-repeat; FONT-STYLE: normal; FONT-FAMILY: Verdana
}

.errortext {
	FONT-SIZE: 12px; font-weight:bold; COLOR:Red; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.successtext {
	FONT-SIZE: 12px; font-weight:bold ; COLOR:Green; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}

.tableheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:20px;
	color: #000;
	vertical-align:middle;
	text-align:left;
	color: #C92112;
}