<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SMTPServerName" value="webmail.in.v2solutions.com" />
    <add key="UserName" value="username" />
    <add key="Password" value="password" />
    <add key="PortNumber" value="587" />
    <add key="IsSSLRequiredForEmail" value="false" />-->
  
  </appSettings>
</configuration>